.clients-info
	a(href="#").clients-info__item
		img.clients-info__icon(src="img/clients-info/01.svg", alt="")
		span.clients-info__title Доставка
	a(href="#").clients-info__item
		img.clients-info__icon(src="img/clients-info/02.svg", alt="")
		span.clients-info__title Оплата
	a(href="#").clients-info__item
		img.clients-info__icon(src="img/clients-info/03.svg", alt="")
		span.clients-info__title Гарантия
	a(href="#").clients-info__item
		img.clients-info__icon(src="img/clients-info/04.svg", alt="")
		span.clients-info__title Возврат
	a(href="#").clients-info__item
		img.clients-info__icon(src="img/clients-info/05.svg", alt="")
		span.clients-info__title Услуги по ремонту
	a(href="#").clients-info__item
		img.clients-info__icon(src="img/clients-info/06.svg", alt="")
		span.clients-info__title Библия камней
	a(href="#").clients-info__item
		img.clients-info__icon(src="img/clients-info/07.svg", alt="")
		span.clients-info__title Курсы
	a(href="#").clients-info__item
		img.clients-info__icon(src="img/clients-info/08.svg", alt="")
		span.clients-info__title Вопрос-ответ
	a(href="#").clients-info__item
		img.clients-info__icon(src="img/clients-info/09.svg", alt="")
		span.clients-info__title Реквизиты и документы



