.create 
  .container
    .create__box
      .create-info
        h6.create-info__title KEKLIK. Персональные украшения
        .create-info__textbox
          p.create-info__text Мы создали более 20 000 браслетов по личному методу Шахрай
          p.create-info__text Но мы продолжаем радоваться каждый раз, когда наши украшения исполняют желания и к нам возвращаются с новыми мечтами и целями
          p.create-info__text За 20 лет у бренда KEKLIK появилось много друзей. Среди них люди, которых знают многие
      .create-scheme
        img.create-scheme__bgfoto(src="img/create-bg.webp", alt="@")
        p.create-scheme__name Четыре науки в действии
        .create-scheme__box 
          .create-scheme__cat.create-scheme__cat--astro.text Астрология
          .create-scheme__cat.create-scheme__cat--taro.text Тарология
          .create-scheme__cat.create-scheme__cat--numero.text Нумерология
          .create-scheme__cat.create-scheme__cat--pcyho.text Психология