.container
  .feedback 
    .feedback__textbox
      h6.feedback__title Напишите нам и мы поможем вам создать свое украшение талисман
      p.feedback__text Украшения KEKLIK не просто аксессуары, это мощные инструменты для реализации ваших мечт. Благодаря методу Шахрай выполучаете украшение, которое становится вашим личным куратором, сопровождающим вас на пути к успеху и безопасности
    form.feedback-form.form
      .feedback-form__fields
        input.form__input.js-phone(type="text")
        button.button.button-black.form__button 
          span.text Создать свое украшение-талисман
      .agree 
        label.checkbox
          input.checkbox__input(type="checkbox")
          span.checkbox-area
            img.checkbox-area__icon(src="img/svg/check.svg", alt="checkbox-icon")
          span.agree__text.text Согласен с #[a(href="") политикой конфиденциальности] и #[a(href="") публичной офертой]