.container
  .feedback 
    .feedback__textbox
      h6.feedback__title Напишите нам и мы поможем вам создать свое украшение талисман
      p.feedback__text Украшения KEKLIK не просто аксессуары, это мощные инструменты для реализации ваших мечт. Благодаря методу Шахрай выполучаете украшение, которое становится вашим личным куратором, сопровождающим вас на пути к успеху и безопасности
    form.feedback-form
      .feedback-form__fields
        input.feedback-form__input.js-phone(type="text")
        button.button.button-black.feedback-form__button 
          span.text Создать свое украшение-талисман
      include ./../layouts/_agree.pug