-
  const menu1 = ['Браслеты','Серьги','Чокеры','Подвески','Кулоны','Колье','Кольца','Перстни','Брелоки','Булавки','Четки','Подвески в авто/дом','Шары из камня','Свечи','Коллекции','Акции'],
  menu2 = ['Доставка','Оплата','Гарантия на товар','Возврат товара','Услуги по ремонту','Библия камней','Курсы','Сертификат','Вопрос-ответ','Реквизиты и документы'],
  menu3 = ['Создание браслета-талисмана','О Светлане Шахрай','Мастерская','Блог','Отзывы','Контакты','Политика конфиденциальности','Оферта']

footer.footer
  .container 
    .footer__box
      nav.footer-nav.catalog-nav.js-clickParent 
        .footer-nav__titlebox 
          h6.footer-nav__title.text Интернет-магазин
          button.footer-nav__toggle.js-clickElem
            <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0.341797L4 5.3418L8 0.341797L0 0.341797Z" fill="#222222"/>
            </svg>
        .footer-menubox.catalog-menubox
          ul.footer-menu 
            each item, i in menu1 
              li.footer-menu__item 
                a.footer-menu__link.text(href="#")= item
      nav.footer-nav.client-nav.js-clickParent 
        .footer-nav__titlebox 
          h6.footer-nav__title.text Клиентам
          button.footer-nav__toggle.js-clickElem
            <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0.341797L4 5.3418L8 0.341797L0 0.341797Z" fill="#222222"/>
            </svg>
        .footer-menubox.client-menubox
          ul.footer-menu
            each item, i in menu2 
              li.footer-menu__item 
                a.footer-menu__link.text(href="#")= item
      nav.footer-nav.about-nav
        h6.footer-nav__title.text О KEKLIK
        .footer-menubox.about-menubox
          ul.footer-menu
            each item, i in menu3 
              li.footer-menu__item 
                a.footer-menu__link.text(href="#")= item
      nav.footer-nav.info-nav
        span.shedule-title.text Время работы консультантов:
        span.shedule.text с 8:00 до 21:00
        a.footer-phone.text(href="tel:88001012272") 8 (800) 101–22–72
        a.footer-email.text(href="mailto:info@keklik-braslet.ru") info@keklik-braslet.ru 
        .pay-icons 
          <svg width="26" height="17" viewBox="0 0 26 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.0013 1.87681C13.9457 2.61852 14.7091 3.56521 15.2338 4.64531C15.7585 5.72542 16.0307 6.91068 16.03 8.11148C16.0302 9.31199 15.7576 10.4968 15.2327 11.5765C14.7078 12.6562 13.9444 13.6025 13.0002 14.3438C12.056 13.6022 11.2927 12.6557 10.768 11.5758C10.2433 10.4959 9.97096 9.31092 9.97151 8.11031C9.97078 6.90951 10.2431 5.72425 10.7677 4.64415C11.2924 3.56404 12.0558 2.61735 13.0002 1.87565M11.9852 1.19665C10.9854 2.05034 10.183 3.11104 9.63344 4.30536C9.08392 5.49969 8.80041 6.79913 8.80251 8.11381C8.80091 9.4279 9.08467 10.7267 9.63418 11.9204C10.1837 13.114 10.9858 14.1742 11.9852 15.0275C10.7781 15.7051 9.41475 16.055 8.03057 16.0423C6.64639 16.0297 5.28962 15.655 4.09512 14.9555C2.90063 14.2561 1.91001 13.2561 1.22174 12.0551C0.533474 10.8541 0.171525 9.49389 0.171875 8.10966C0.172226 6.72542 0.534863 5.36538 1.22374 4.16473C1.91262 2.96409 2.90374 1.96464 4.09859 1.26576C5.29344 0.566869 6.6504 0.192878 8.03458 0.180958C9.41877 0.169039 10.782 0.519607 11.9887 1.19781M14.021 15.0275C15.0201 14.1741 15.8221 13.1139 16.3714 11.9202C16.9207 10.7265 17.2042 9.42781 17.2025 8.11381C17.2042 6.79915 16.9202 5.49982 16.3703 4.30569C15.8203 3.11157 15.0176 2.05116 14.0175 1.19781C15.2242 0.519607 16.5874 0.169039 17.9716 0.180958C19.3558 0.192878 20.7127 0.566869 21.9076 1.26576C23.1024 1.96464 24.0936 2.96409 24.7824 4.16473C25.4713 5.36538 25.834 6.72542 25.8343 8.10966C25.8347 9.49389 25.4727 10.8541 24.7844 12.0551C24.0962 13.2561 23.1056 14.2561 21.9111 14.9555C20.7166 15.655 19.3598 16.0297 17.9756 16.0423C16.5914 16.055 15.2281 15.7051 14.021 15.0275Z" fill="#222222"/>
          </svg>
          <svg width="30" height="10" viewBox="0 0 30 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.5405 0.253906C17.4105 0.253906 15.5055 1.35791 15.5055 3.3979C15.5055 5.7379 18.882 5.8984 18.882 7.0729C18.882 7.5679 18.315 8.0119 17.3475 8.0119C16.5077 8.0064 15.6823 7.7936 14.9445 7.3924L14.505 9.4504C14.505 9.4504 15.69 9.9739 17.2605 9.9739C19.5885 9.9739 21.4215 8.8159 21.4215 6.7414C21.4215 4.2694 18.0315 4.1119 18.0315 3.0214C18.0315 2.6329 18.4965 2.2084 19.4625 2.2084C20.553 2.2084 21.4425 2.65841 21.4425 2.65841L21.8715 0.670906C21.8715 0.670906 20.904 0.253906 19.5405 0.253906ZM0.0509999 0.403905L0 0.703906C0 0.703906 0.8955 0.868906 1.704 1.19441C2.742 1.56941 2.817 1.7884 2.991 2.4664L4.899 9.8194H7.455L11.394 0.403905H8.844L6.312 6.8059L5.28 1.37891C5.1855 0.757906 4.7055 0.403905 4.1175 0.403905H0.0509999ZM12.42 0.403905L10.419 9.8194H12.852L14.8455 0.403905H12.42ZM25.986 0.403905C25.401 0.403905 25.089 0.718906 24.861 1.26641L21.297 9.8194H23.847L24.342 8.3944H27.4485L27.7485 9.8194H30L28.0365 0.403905H25.986ZM26.3175 2.9479L27.0735 6.4804H25.05L26.3175 2.9479Z" fill="#222222"/>
          </svg>
          <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_2729_3786)">
              <path d="M10 20.1138C4.47688 20.1138 0 15.6369 0 10.1138C0 4.59064 4.47688 0.11377 10 0.11377C15.5231 0.11377 20 4.59064 20 10.1138C20 15.6369 15.5231 20.1138 10 20.1138ZM14.1756 4.71877L7.30875 8.62439L4.03625 6.76377L3.69875 7.43439L7.30875 9.51252L14.7662 5.25502L14.1756 4.71877ZM12.6744 3.86377L7.30875 6.93127L4.93 5.57377L4.44125 6.16002L7.30875 7.78627L13.4669 4.26627L12.675 3.86377H12.6744ZM15.2894 5.80814L7.30875 10.3675L3.42875 8.15502L3.24312 8.89252L7.30875 11.2056L15.7275 6.39502L15.2894 5.80814ZM16.5037 7.97064L16.1325 7.03189L7.30875 12.0606L3.125 9.69689V10.1494C3.125 11.065 3.30813 11.9713 3.665 12.815C4.00384 13.6319 4.50281 14.3728 5.1325 14.9938C5.76201 15.6055 6.50004 16.0944 7.30875 16.4356C8.16375 16.8044 9.05813 16.9888 9.99188 16.9888C10.9144 16.9888 11.8085 16.8044 12.6744 16.4356C13.492 16.1017 14.2368 15.612 14.8675 14.9938C15.491 14.3676 15.989 13.6281 16.335 12.815L16.5037 12.3625C16.7512 11.6471 16.875 10.9096 16.875 10.15C16.875 9.3896 16.7512 8.66315 16.5037 7.97064Z" fill="#222222"/>
            </g>
            <defs>
              <clipPath id="clip0_2729_3786">
                <rect width="20" height="20" fill="white" transform="translate(0 0.11377)"/>
              </clipPath>
            </defs>
          </svg>
          <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.75 17.447H13.25M3.875 9.11367H10.125M1.79167 14.322L5.03854 5.23242C5.85625 2.94076 6.26562 1.79492 7 1.79492C7.73437 1.79492 8.14375 2.94076 8.96146 5.23242L12.2083 14.322" stroke="#222222" stroke-width="2"/>
          </svg>
        span.footer-slogan.text KEKLIK — Украшения из натуральных камней
        p.footer-infotext.text Все украшения носят символический смысл и не имеют целительных или иных магических свойств
        span.doc-info.text ИП Шахрай Светлана Михайловна 
        span.doc-info.text ИНН 263500194811
        span.doc-info.text ОГРНИП 305263515900181
        span.copyright.text © 2025
        a.develop.text(href="#" target="_blank") Разработка сайта WEBELEMENT

    .footer-socials 
      a.footer-socials__item(href="#") 
        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.4914 13.0439L14.6407 12.6243L16.666 13.4024V15.2862C16.666 15.9134 16.1266 16.3919 15.519 16.2575C13.9453 15.9124 11.086 15.0444 9.09995 13.0439C7.20895 11.1394 6.56312 8.48687 6.34302 7.02264C6.25518 6.43674 6.71915 5.94694 7.30712 5.94694H9.26425L10.0238 7.98157L9.62178 10.1526M21.8327 11.1136C21.8327 16.8207 17.2065 21.4469 11.4994 21.4469C9.68538 21.4494 7.90297 20.9725 6.33268 20.0643L1.16602 20.9303L2.02575 15.2469C1.45777 13.943 1.16509 12.5359 1.16602 11.1136C1.16602 5.40651 5.79225 0.780273 11.4994 0.780273C17.2065 0.780273 21.8327 5.40651 21.8327 11.1136Z" stroke="#222222" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      a.footer-socials__item(href="#") 
        <svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M23.4377 2.75599L20.1167 18.0273C19.872 19.1101 19.211 19.3729 18.289 18.8633L13.23 15.2246L10.7903 17.5177C10.521 17.7805 10.2926 18.0034 9.77036 18.0034L10.1294 12.9793L19.5048 4.71466C19.9128 4.36433 19.415 4.16528 18.8765 4.51561L7.28984 11.6337L2.29615 10.113C1.21093 9.77855 1.18645 9.054 2.52462 8.54443L22.0343 1.20338C22.94 0.884895 23.7315 1.41836 23.4377 2.75599Z" stroke="#222222" stroke-width="1.5"/>
        </svg>
      a.footer-socials__item(href="#")
        <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.98684 7.00851H11.0132V11.6269M11.0132 11.6269V15.219C8.96053 14.7059 4.85526 12.3453 4.85526 7.00851M11.0132 11.6269C11.5993 11.541 12.1694 11.368 12.7045 11.1138M12.7045 11.1138C14.0593 10.4846 15.5885 9.23356 16.1447 7.00851M12.7045 11.1138C13.8509 11.4555 16.1447 12.7559 16.1447 15.219M0.75 11.1138C0.75 6.51793 0.75 4.21898 2.17761 2.79137C3.60521 1.36377 5.90313 1.36377 10.5 1.36377C15.0958 1.36377 17.3948 1.36377 18.8224 2.79137C20.25 4.21898 20.25 6.5169 20.25 11.1138C20.25 15.7096 20.25 18.0086 18.8224 19.4362C17.3948 20.8638 15.0969 20.8638 10.5 20.8638C5.90416 20.8638 3.60521 20.8638 2.17761 19.4362C0.75 18.0086 0.75 15.7106 0.75 11.1138Z" stroke="#222222" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg> 
      a.footer-socials__all.text(href="#") Прочие социальные сети