meta(charset="UTF-8")

meta(name="viewport", content="width=device-width, initial-scale=1.0")

link(rel="icon", href="img/favicon.ico", type="image/x-icon")

//- link(rel="stylesheet", href="css/input-tel.min.css")
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/intl-tel-input@25.3.1/build/css/intlTelInput.css")
link(rel="stylesheet", href="css/swiper@11.min.css")
link(rel="stylesheet", href="css/main.css")