.popup#done
	.popup__body.popup-personal.animate__animated
		button.popup__close.js-popupClose 
			<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.757812 11.2433L6.00081 6.00032L11.2438 11.2433M11.2438 0.757324L5.99981 6.00032L0.757812 0.757324" stroke="#222222" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		h6.popup-personal__title.page-title Вы успешно зарегистрировались!
		p.done-info.text Перейдите в каталог товаров или на главную страницу

.popup#recovery
	.popup__body.popup-personal.animate__animated
		button.popup__close.js-popupClose 
			<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.757812 11.2433L6.00081 6.00032L11.2438 11.2433M11.2438 0.757324L5.99981 6.00032L0.757812 0.757324" stroke="#222222" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		h6.popup-personal__title.page-title Восстановление пароля
		form.popup-personal__form
			input.form__input(name="email" type="text" placeholder="Ваш email *")
			p.recovery-info.text Введите ваш Email мы отправим на него ссылку на восстановление пароля
			button.button.button-black 
				span.text Восстановить
			include ./../layouts/_agree.pug

.popup#register
	.popup__body.popup-personal.animate__animated
		button.popup__close.js-popupClose 
			<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.757812 11.2433L6.00081 6.00032L11.2438 11.2433M11.2438 0.757324L5.99981 6.00032L0.757812 0.757324" stroke="#222222" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		h6.popup-personal__title.popup-personal__title--mb20.page-title Вход в личный кабинет
		p.popup-personal__subtitle.text Регистрация даст вам доступ к вашим заказам и бонусным программам
		form.popup-personal__form
			input.form__input(name="name" type="text" placeholder="Ваше имя *")
			input.form__input(name="email" type="text" placeholder="Ваш email *")
			input.form__input.form__input--phone.js-phone(name="phone" type="text")
			input.form__input(name="password" type="password" placeholder="Ваш пароль *")
			input.form__input(name="allowPassword" type="password" placeholder="Подтвердите пароль *")
			button.button.button-black 
				span.text Зарегистрироваться
			include ./../layouts/_agree.pug

.popup#personal
	.popup__body.popup-personal.animate__animated
		button.popup__close.js-popupClose 
			<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.757812 11.2433L6.00081 6.00032L11.2438 11.2433M11.2438 0.757324L5.99981 6.00032L0.757812 0.757324" stroke="#222222" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		h6.popup-personal__title.page-title Вход в личный кабинет
		form.popup-personal__form
			input.form__input(name="login" type="text" placeholder="Логин *")
			input.form__input(name="password" type="password" placeholder="Пароль *")
			button.password-recovery.text(data-popup="popup" data-src="#recovery") Забыли пароль?
			button.button.button-black 
				span.text Войти
			button.button.button-transparent 
				span.text Регистрация
			include ./../layouts/_agree.pug

.popup#delivery
	.popup__body.popup-delivery.animate__animated
		button.popup__close.js-popupClose 
			<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.757812 11.2433L6.00081 6.00032L11.2438 11.2433M11.2438 0.757324L5.99981 6.00032L0.757812 0.757324" stroke="#222222" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		h6.popup-delivery__title.page-title Доставка по России, Беларуси и Казахстану
		p.popup-delivery__text.text 5.2.1. Доставка товаров, заказанных и оплаченных Покупателем, осуществляется Продавцом или Перевозчиком. Покупатель имеет право забрать товар самостоятельно (самовывоз). Адреса, контакты и режим работы пунктов указаны на сайте Продавца. Покупателю при оформлении заказа предоставляется право выбора способа доставки.
		h6.popup-delivery__title.page-title Доставка по миру
		p.popup-delivery__text.text 5.2.1. Доставка товаров, заказанных и оплаченных Покупателем, осуществляется Продавцом или Перевозчиком. Покупатель имеет право забрать товар самостоятельно (самовывоз). Адреса, контакты и режим работы пунктов указаны на сайте Продавца. Покупателю при оформлении заказа предоставляется право выбора способа доставки.
			| 5.2.2. Продавец доставляет товар после его полной оплаты в согласованные с Покупателем при подтверждении заказа сроки посредством служб доставки (в том числе СДЭК, Boxberry), а также курьерской, почтовой доставки на адрес Покупателя. Срок доставки зависит от выбранного способа доставки товара.
			| 5.2.3. При получении товара Покупатель проверяет его внешний вид и комплектность. При отсутствии замечаний при получении, Покупатель тем самым подтверждает, что получил товар и не имеет претензий по его внешнему виду, количеству и комплектности.
			| 5.2.4. Право собственности на товар переходит к Покупателю в момент фактической передачи товара.
			| 5.2.5. Доставленный товар передается Покупателю по указанному им адресу, а при отсутствии Покупателя — любому лицу, предъявившему информацию о номере заказа, либо иное (в том числе электронное) подтверждение оформления заказа. Если Покупатель не совершит необходимые для принятия товара действия, Продавец доставляет товар заново, в новые сроки, согласованные с Покупателем по телефону. За повторную доставку с Покупателя взимаются расходы Продавца за доставку.
			| 5.2.6. Право собственности и риск случайной гибели, утраты или повреждения товара переходит с Продавца на Покупателя с момента передачи товара Перевозчику при подписании Сторонами товарной накладной и/или транспортной накладной и/или товарно-транспортной накладной или иного документа, свидетельствующего о передаче товара.
			| 5.2.7. При получении товара Покупатель должен в присутствии Перевозчика проверить соответствие полученного товара по наименованию, количеству, ассортименту, качеству, комплектности заказанному товару. Покупатель при приемке товара подтверждает своей подписью в документе о получении товара, что не имеет претензий к внешнему виду и комплектности товара. Заказ считается доставленным в момент его передачи Покупателю. Подписываясь в листе курьера, Покупатель подтверждает исполнение Заказа.

.popup#oneclick
	.popup__body.popup-oneclick.animate__animated
		button.popup__close.js-popupClose 
			<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.757812 11.2433L6.00081 6.00032L11.2438 11.2433M11.2438 0.757324L5.99981 6.00032L0.757812 0.757324" stroke="#222222" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		h6.popup-oneclick__title.page-title Купить в 1 клик
		form.form.popup-oneclick__form(action="")
			input.form__input(name="fio" type="text" placeholder="Ф.И.О. *")
			input.form__input.form__input--phone.js-phone(name="phone" type="text") 
			input.form__input(name="email" type="text" placeholder="Email *")
			textarea.form__input.form__input--comment(name="comment" placeholder="Комментарий к заказу") 
			.form__selectbox
				<svg class="form__selecticon" width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 0L4 5L8 0L0 0Z" fill="#222222"/>
				</svg>
				select.form__input.form__input--select
					option(value="Стоимость доставки" disabled selected) Стоимость длоставки  
					option(value="Значение 1") Значение 1  
					option(value="Значение 2") Значение 2
					option(value="Значение 3") Значение 3  
			button.button.button-black 
				span.text Отправить
			include ./../layouts/_agree.pug

.popup#fastview
	.popup__body.popup-fastview.product.animate__animated
		button.popup__close.js-popupClose 
			<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.757812 11.2433L6.00081 6.00032L11.2438 11.2433M11.2438 0.757324L5.99981 6.00032L0.757812 0.757324" stroke="#222222" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		.popup-fastview__box
			.fastview-slider.swiper.js-sliderFastview 
				.swiper-wrapper 
					each item in [5,4,3,2]
						.swiper-slide
							img.fastview-slider__foto(src=`img/blog-foto-${item}.webp`, alt="foto")
				.slider-nav.previewslider-nav.js-previewSmallNav
				.preview-tags
					span.preview-tags__item.product-tags__item.text Агат
					span.preview-tags__item.product-tags__item.text Родонит
					span.preview-tags__item.product-tags__item--sale.text Скидка 50%
				button.infavor
					<svg class="infavor__icon" width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M16.4998 5.0071C16.5024 6.16116 16.0578 7.27134 15.2593 8.1046C13.4286 10.0028 11.6526 11.9821 9.75431 13.8106C9.31856 14.2231 8.62781 14.2081 8.21156 13.7768L2.74031 8.10535C1.08656 6.39085 1.08656 3.62335 2.74031 1.9096C3.13117 1.49934 3.60127 1.17274 4.1221 0.949576C4.64294 0.726414 5.20368 0.611346 5.77031 0.611346C6.33695 0.611346 6.89768 0.726414 7.41852 0.949576C7.93936 1.17274 8.40946 1.49934 8.80031 1.9096L8.99981 2.1151L9.19856 1.9096C9.59021 1.50032 10.0604 1.17431 10.5811 0.951098C11.1017 0.727889 11.6621 0.612076 12.2286 0.610596C13.3686 0.610596 14.4583 1.0786 15.2586 1.9096C16.0573 2.74273 16.5022 3.85293 16.4998 5.0071Z" stroke="#E9711F" stroke-width="1.2" stroke-linejoin="round"/>
					</svg>
			aside.fastview-info.product__info
				.product__infobox
					h1.product__title Комплект из Раухтопаза
					.product__pricebox 
						span.product__price 9 000 #[span.product__price--symbol.text ₽]
						button.product-payinstall
							<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6.5 14.75V5C6.5 4.80109 6.42098 4.61032 6.28033 4.46967C6.13968 4.32902 5.94891 4.25 5.75 4.25H2C1.80109 4.25 1.61032 4.32902 1.46967 4.46967C1.32902 4.61032 1.25 4.80109 1.25 5V14C1.25 14.1989 1.32902 14.3897 1.46967 14.5303C1.61032 14.671 1.80109 14.75 2 14.75H11C11.1989 14.75 11.3897 14.671 11.5303 14.5303C11.671 14.3897 11.75 14.1989 11.75 14V10.25C11.75 10.0511 11.671 9.86032 11.5303 9.71967C11.3897 9.57902 11.1989 9.5 11 9.5H1.25M10.25 1.25H14C14.4142 1.25 14.75 1.58579 14.75 2V5.75C14.75 6.16421 14.4142 6.5 14 6.5H10.25C9.83579 6.5 9.5 6.16421 9.5 5.75V2C9.5 1.58579 9.83579 1.25 10.25 1.25Z" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
							span.product-payinstall__text.text Долями 3 платежа по 3000 ₽
							<svg width="6" height="8" viewBox="0 0 6 8" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M0.476562 8L5.47656 4L0.476562 4.76837e-07L0.476562 8Z" fill="#222222"/>
							</svg>
					p.product__infotext.text Представляем Вашему вниманию наш комплект “Дымчатое&nbsp;Очарование”, состоящий из подвески и серег, созданных из натурального Раухтопаза
					.product-actions 
						.product-actions__buttons 
							.product-actions__counts
								button.product-actions__count.product__decrement 
									<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M6 9H12M9 16.5C13.1422 16.5 16.5 13.1422 16.5 9C16.5 4.85775 13.1422 1.5 9 1.5C4.85775 1.5 1.5 4.85775 1.5 9C1.5 13.1422 4.85775 16.5 9 16.5Z" stroke="#222222" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
								input.product-actions__count.product__value(type="text" value="1" readonly)
								button.product-actions__count.product__increment 
									<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M6 9H9M9 9H12M9 9V6M9 9V12M9 16.5C13.1422 16.5 16.5 13.1422 16.5 9C16.5 4.85775 13.1422 1.5 9 1.5C4.85775 1.5 1.5 4.85775 1.5 9C1.5 13.1422 4.85775 16.5 9 16.5Z" stroke="#222222" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
							button.product-actions__incart.button.button-black.js-incartToggle 
								span.text В корзину
							button.product-actions__oneclick.button.button-white(data-popup="popup" data-src="#oneclick") 
								span.text Купить в 1 клик
					.product-char 
						h6.product-char__title.text Доставка по России бесплатно
						ul.product-char__list
							each item in ['О доставке','Оплата товара','Гарантия и возврат']
								li.product-char__item 
									a.product-char__link.text(href="#")= item 
					a.product__fullbtn(href="#")
						span.text Подробнее 