section.present
  .sliderbox 
    .slider-arrows.present-arrows
      button.slider-btn.slider-btnrev.js-presentPrev
        <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.0799 6.40431L0.635786 6.40431C0.279746 6.40431 -7.63309e-09 6.10256 -7.13606e-09 5.71853C-6.63902e-09 5.33449 0.279746 5.03274 0.635786 5.03274L12.0799 5.03274C12.436 5.03274 12.7157 5.33449 12.7157 5.71853C12.7157 6.10256 12.436 6.40431 12.0799 6.40431Z" fill="black"/>
          <path d="M8.901 11.2048C8.81762 11.2059 8.73494 11.1881 8.65829 11.1527C8.58164 11.1173 8.51272 11.0649 8.45595 10.9991C8.20163 10.7247 8.20163 10.2996 8.45595 10.0252L12.4614 5.70481L8.45595 1.38438C8.20163 1.11007 8.20163 0.684882 8.45595 0.410569C8.71026 0.136256 9.10445 0.136256 9.35876 0.410569L13.8093 5.21105C14.0636 5.48536 14.0636 5.91054 13.8093 6.18486L9.35876 10.9853C9.23161 11.1225 9.0663 11.1911 8.91372 11.1911L8.901 11.2048Z" fill="black"/>
        </svg>
      button.slider-btn.js-presentNext
        <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.0799 6.40431L0.635786 6.40431C0.279746 6.40431 -7.63309e-09 6.10256 -7.13606e-09 5.71853C-6.63902e-09 5.33449 0.279746 5.03274 0.635786 5.03274L12.0799 5.03274C12.436 5.03274 12.7157 5.33449 12.7157 5.71853C12.7157 6.10256 12.436 6.40431 12.0799 6.40431Z" fill="black"/>
          <path d="M8.901 11.2048C8.81762 11.2059 8.73494 11.1881 8.65829 11.1527C8.58164 11.1173 8.51272 11.0649 8.45595 10.9991C8.20163 10.7247 8.20163 10.2996 8.45595 10.0252L12.4614 5.70481L8.45595 1.38438C8.20163 1.11007 8.20163 0.684882 8.45595 0.410569C8.71026 0.136256 9.10445 0.136256 9.35876 0.410569L13.8093 5.21105C14.0636 5.48536 14.0636 5.91054 13.8093 6.18486L9.35876 10.9853C9.23161 11.1225 9.0663 11.1911 8.91372 11.1911L8.901 11.2048Z" fill="black"/>
        </svg>
    .present-slider.swiper.js-sliderPresent 
      .swiper-wrapper 
        each item in [1, 2, 3, 4]
          .swiper-slide
            .present-slide
              .present-slide__fotobox.present-slide__fotobox--mobile(style="background-image:url(../img/present-slide-mobile-1.webp);" data-swiper-parallax-x="50%")
              .present-slide__fotobox.present-slide__fotobox--desktop(style="background-image:url(../img/present-slide-1.webp);" data-swiper-parallax-x="50%")
              .present__infobox 
                .present__titlebox
                  h2.present__title Украшения, которые работают: защищают, привлекают энергию и исполняют мечты
                  p.present__tagtitle.text KEKLIK — украшения из натуральных камней
                .present__infofact 
                  p.present__info.text Украшения создаются вручную в единственном экземпляре
                  p.present__info.text Только природные минералы с проверенными свойствами
    .slider-nav.present-nav.js-presentNav
  button.to-down 
    <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M5.30053 12.0799L5.30053 0.635785C5.30053 0.279745 5.60227 -2.72845e-07 5.98631 -2.55078e-07C6.37035 -2.37311e-07 6.67209 0.279745 6.67209 0.635785L6.67209 12.0799C6.67209 12.436 6.37035 12.7157 5.98631 12.7157C5.60227 12.7157 5.30053 12.436 5.30053 12.0799Z" fill="black"/>
      <path d="M0.500048 8.901C0.498952 8.81762 0.51669 8.73494 0.552123 8.65829C0.587555 8.58164 0.639896 8.51272 0.705783 8.45595C0.980096 8.20163 1.40528 8.20163 1.67959 8.45595L6.00002 12.4614L10.3205 8.45595C10.5948 8.20163 11.02 8.20163 11.2943 8.45595C11.5686 8.71026 11.5686 9.10445 11.2943 9.35876L6.49379 13.8093C6.21947 14.0636 5.79429 14.0636 5.51998 13.8093L0.719498 9.35876C0.582342 9.23161 0.513764 9.0663 0.513764 8.91371L0.500048 8.901Z" fill="black"/>
    </svg>