-
	const reviews = [
		{foto: 'review-1.png', name: 'Светлана Зорина', text: 'Добрый день! Огромное спасибо за великолепный браслет. Это произведение искусства. Волшебно. Соприкосновение с ним вызвало дрожь по телу. Такая кропотливая работа. Столько граней у камней. Выражаю огромную благодарность команде Keklik Процветания Вам! Спасибо, что радуете такой красотой!!!'},
		{foto: 'review-2.png', name: 'Надежда Вавилова', text: 'Сказать, что вы меня удивили — это не сказать ничего! В принципе, меня удивить невозможно, так как обычно знаю что произойдет заранее. Но вам это удалось. Вы абсолютно правы по описанию характера и типа личности. Очень интересно, новая информация про карму (мой психолог нервно курит в сторонке, 15 лет хожу — не узнала про себя и 10% от того, что узнала о себе от вас)…'},
		{foto: 'review-3.png', name: 'Вероника Петрова', text: 'Получила свой браслет. Сразу как одела почувствовала себя более спокойной и заземленной. Браслет волшебной красоты! Я никогда не испытывала такой сильный коннект с украшениями раньше. Очень неожиданные ощущения в теле, но мне очень нравятся. Буду дальше знакомиться с моим новым помощником в исполнении желаниях. Спасибо большое всей вашей команде!'},
		{foto: 'review-1.png', name: 'Светлана Зорина', text: 'Добрый день! Огромное спасибо за великолепный браслет. Это произведение искусства. Волшебно. Соприкосновение с ним вызвало дрожь по телу. Такая кропотливая работа. Столько граней у камней. Выражаю огромную благодарность команде Keklik Процветания Вам! Спасибо, что радуете такой красотой!!!'}
	]

.sliderbox.sliderbox-nohidden
	.slider-arrows.reviews-arrows
		button.slider-btn.slider-btnrev.js-prev
			<svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M12.0799 6.40431L0.635786 6.40431C0.279746 6.40431 -7.63309e-09 6.10256 -7.13606e-09 5.71853C-6.63902e-09 5.33449 0.279746 5.03274 0.635786 5.03274L12.0799 5.03274C12.436 5.03274 12.7157 5.33449 12.7157 5.71853C12.7157 6.10256 12.436 6.40431 12.0799 6.40431Z" fill="black"/>
				<path d="M8.901 11.2048C8.81762 11.2059 8.73494 11.1881 8.65829 11.1527C8.58164 11.1173 8.51272 11.0649 8.45595 10.9991C8.20163 10.7247 8.20163 10.2996 8.45595 10.0252L12.4614 5.70481L8.45595 1.38438C8.20163 1.11007 8.20163 0.684882 8.45595 0.410569C8.71026 0.136256 9.10445 0.136256 9.35876 0.410569L13.8093 5.21105C14.0636 5.48536 14.0636 5.91054 13.8093 6.18486L9.35876 10.9853C9.23161 11.1225 9.0663 11.1911 8.91372 11.1911L8.901 11.2048Z" fill="black"/>
			</svg>
		button.slider-btn.js-next
			<svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M12.0799 6.40431L0.635786 6.40431C0.279746 6.40431 -7.63309e-09 6.10256 -7.13606e-09 5.71853C-6.63902e-09 5.33449 0.279746 5.03274 0.635786 5.03274L12.0799 5.03274C12.436 5.03274 12.7157 5.33449 12.7157 5.71853C12.7157 6.10256 12.436 6.40431 12.0799 6.40431Z" fill="black"/>
				<path d="M8.901 11.2048C8.81762 11.2059 8.73494 11.1881 8.65829 11.1527C8.58164 11.1173 8.51272 11.0649 8.45595 10.9991C8.20163 10.7247 8.20163 10.2996 8.45595 10.0252L12.4614 5.70481L8.45595 1.38438C8.20163 1.11007 8.20163 0.684882 8.45595 0.410569C8.71026 0.136256 9.10445 0.136256 9.35876 0.410569L13.8093 5.21105C14.0636 5.48536 14.0636 5.91054 13.8093 6.18486L9.35876 10.9853C9.23161 11.1225 9.0663 11.1911 8.91372 11.1911L8.901 11.2048Z" fill="black"/>
			</svg>
	.reviews-slider.swiper.js-sliderReviews 
		.swiper-wrapper 
			each item, i in reviews
				.swiper-slide 
					.review-card.js-clickParent 
						.review-card__head 
							img.review-card__foto(src=`img/${item.foto}`, alt="foto")
							.review-card__info 
								ul.review-card__rating 
									each item in [1,2,3,4,5]
										li
											img(src="img/icon-star.png", alt="icon-star")
								h6.review-card__name.text= item.name 
								time.review-card__date.text(datetime="2024-06-03") 3 июня 2024 
						p.review-card__text.text= item.text 
						button.review-card__readmore.text.js-clickElem Читать полностью
	.slider-navbox
		div(class=`slider-nav js-reviewsNav`)