ul.special-offer-category.so-category
	li.so-category__item
		a.so-category__link(href="#")
			.so-category__img-box
				img.so-category__img(src="img/special-offer/01.webp", alt="")
				.so-category__tags
					span.so-category__tag Бессрочная акця
			.so-category__title -10% на первый заказ
	li.so-category__item
		a.so-category__link(href="#")
			.so-category__img-box
				img.so-category__img(src="img/special-offer/02.webp", alt="")
				.so-category__tags
					span.so-category__tag Бессрочная акця
			.so-category__title При покупке браслетов от 8 900 руб. дарим сертификат на 1000 руб.
	li.so-category__item
		a.so-category__link(href="#")
			.so-category__img-box
				img.so-category__img(src="img/special-offer/03.webp", alt="")
				.so-category__tags
					span.so-category__tag Бессрочная акця
			.so-category__title Патент
	li.so-category__item
		a.so-category__link(href="#")
			.so-category__img-box
				img.so-category__img(src="img/special-offer/02.webp", alt="")
			.so-category__title О Светлане Шахрай
	li.so-category__item
		a.so-category__link(href="#")
			.so-category__img-box
				img.so-category__img(src="img/special-offer/03.webp", alt="")
			.so-category__title Патент
	li.so-category__item
		a.so-category__link(href="#")
			.so-category__img-box
				img.so-category__img(src="img/special-offer/01.webp", alt="")
			.so-category__title Создание личного украшения-талисмана
