.mobile-565{
  @media(max-width: 565px){
    display: none;
  }
}
.iti{
  width: 100%;
  padding-left: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.iti__selected-country .iti__flag{
  border: 6px solid $light-grey;
  border-radius: 8px;
  box-sizing: content-box;
}
.iti--allow-dropdown .iti__country-container:not(:has(+ input[disabled])):not(:has(+ input[readonly])) .iti__selected-country-primary:hover, .iti--allow-dropdown .iti__country-container:not(:has(+ input[disabled])):not(:has(+ input[readonly])) .iti__selected-country:has(+ .iti__dropdown-content:hover) .iti__selected-country-primary{
  background: transparent;
}
.iti__search-input{
  padding: 10px;
}
.iti__country-container{
  left: 10px;
}
.section-title{
  font-size: 24px;
  font-weight: 700;
  line-height: 110%;
  @media(max-width: 1460px){
    font-size: 22px;
  }
}
.swiper-slide{
  display: flex;
}
.container{
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  @media(max-width: 768px){
    padding: 0 10px;
  }
}
.templates{
  padding: 100px 0;
  .raleway500{
    font-family: $raleway;
    font-weight: 500;
  }
  .raleway600{
    font-family: $raleway;
    font-weight: 600;
  }
  .raleway700{
    font-family: $raleway;
    font-weight: 700;
  }
  .forum400{
    font-family: $forum;
  }
}
.text{
  font-family: $raleway;
	font-size: 16px;
	font-weight: 600;
	line-height: 120%;
	color: $dark;
  letter-spacing: -0.7px;
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 38px;
  padding: 8px 30px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s, border-color 0.3s;
  span{
    transition: color 0.3s;
  }
  &-white{
    background: $white;
    &:hover{
      background: $dark;
      span{
        color: $white;
      }
    }
  }
  &-black{
    background: $dark;
    span{
      color: $white;
    }
    @media(hover: hover){
      &:hover{
        background: $orange;
      }
    }
  }
  &-mobilecart{
    &.is-active{
        background: $orange;
        span{
          color: $white;
        }
      }
    @media(max-width: 768px){
      display: flex;
      align-items: center;
      justify-content: center;
      width: 42px;
      height: 28px;
      min-height: 28px;
      padding: 0;
      margin-left: auto;
      background: $light-grey;
      border-radius: 8px;
      transition: background 0.3s;
      &:hover{
        background: $light-grey;
      }
      &.is-active{
        background: $orange;
        path{
          stroke: $white;
        }
      }
    }
    path{
      transition: stroke 0.3s;
    }
    span{
      @media(max-width: 768px){
        display: none;
      }
    }
    &__icon{
      display: none;
      @media(max-width: 768px){
        display: flex;
      }
    }
  }
  &-transparent{
    background: transparent;
    border: 2px solid $light-grey;
    &:hover{
      background: $dark;
      border-color: $dark;
      span{
        color: $white;
      }
    }
  }
}
.video{
	margin-bottom: 80px;
}
.products-slider{
  margin: 0 0 38px 0;
  @media(max-width: 768px){
    max-width: 300px;
    width: 100%;
    overflow: visible;
  }
}
.blog-slider{
  margin: 0 0 38px 0;
  @media(max-width: 768px){
    max-width: 300px;
    width: 100%;
    overflow: visible;
  }
}
.video-slider{
  margin: 0 0 36px 0 ;
  @media(max-width: 768px){
    max-width: 260px;
    width: 100%;
    overflow: visible;
  }
  .swiper-slide{
    flex-shrink: 0;
    width: 100%;
  }
}
.reviews-slider{
	margin: 0 0 20px;
  @media(max-width: 768px){
    max-width: 300px;
    width: 100%;
    overflow: visible;
  }
}
.product-slider{
	.swiper-wrapper{
		flex-direction: column;
		@media(max-width: 565px){
			flex-direction: row;
		}
	}
}
.sertificate-slider{
  .swiper-slide{
    width: 50% !important;
    @media(max-width: 565px){
      width: 100% !important;
    }
  }
}
.sliderbox{
  position: relative;
  overflow: hidden;
  &-mobile{
    margin-right: -10px;
  }
  &-nohidden{
    overflow: visible;
    .swiper{
      overflow: visible;
    }
    .swiper-slide{
      opacity: 0;
      transition: opacity 0.3s;
    }
    .swiper-slide-active,
    .swiper-slide-next,
    .swiper-slide-next + .swiper-slide{
      opacity: 1;
    }
  }
}
.slider-arrows{
  position: absolute;
  z-index: 2;
  // top: 12.3vw;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}
.present-arrows{
  top: 335px;
  left: 40px;
  right: 40px;
  @media(max-width: 565px){
    display: none;
  }
}
.products-arrows{
  top: 234px;
  @media(max-width: 1920px){
    top: 12.3vw;
  }
  @media(max-width: 992px){
    display: none;
  }
}
.popular-arrows{
  @extend .products-arrows;
}
.video-arrows{
  top: 350px;
  @media(max-width: 1920px){
    top: 16vw;
  }
  @media(max-width: 1460px){
    top: 15.4vw;
  }
  @media(max-width: 992px){
    top: 18.4vw;
  }
  @media(max-width: 768px){
    display: none;
  }
}
.blog-arrows{
  top: 210px;
  @media(max-width: 1920px){
    top: 11vw;
  }
  @media(max-width: 992px){
    top: 15.3vw;
  }
  @media(max-width: 768px){
    top: 145px;
  }
}
.reviews-arrows{
  top: 50%;
  transform: translateY(-100%);
  left: -10px;
  right: -10px;
  @media(max-width: 768px){
    display: none;
  }
}
.slider-navbox{
  display: flex;
  justify-content: center;
}
.slider-nav{
  position: static;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  width: auto !important;
  margin: 0 auto;
  padding: 6px;
  border-radius: 18px;
  background: rgba(255,255,255,0.5);
  backdrop-filter: blur(40px);
  .swiper-pagination-bullet{
    margin: 0 !important;
    border: 1px solid rgba(0, 0, 0, 0.6);
    box-sizing: content-box;
    background: $white;
    transition: all 0.3s;
    cursor: pointer;
    &-active{
      border-color: transparent;
      background: $orange;
      box-sizing: border-box;
    }
  }
}
.previewslider-nav{
  position: absolute;
  left: 50% !important;
  transform: translateX(-50%);
  z-index: 1;
  @media(max-width: 565px){
    background: transparent;
    backdrop-filter: none;
  }
}
.product-nav{
  display: none;
  position: absolute;
  left: 50% !important;
  transform: translateX(-50%);
  z-index: 1;
  background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(40px);
  @media(max-width: 565px){
    display: flex;
  }
}
.slider-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(40px);
  pointer-events: all;
  transition: background 0.3s;
  &:hover{
    background: $orange;
    path{
      fill: $white;
    }
  }
}
.slider-btnrev{
  transform: rotate(180deg);
}
.fastview-btn{
  position: absolute;
  z-index: 2;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 166px;
  height: 38px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(110px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  @media(max-width: 768){
    display: none;
  }
}
.preview{
  position: relative;
  width: 100%;
  overflow: hidden;
  &__fotobox{
    position: relative;
    display: flex;
    margin-bottom: 18px;
    border-radius: 10px;
    overflow: hidden;
    &:hover{
      .fastview-btn{
        opacity: 1;
        pointer-events: all;
      }
    }
  }
  &-big{
    &__foto{
      width: 100%;
      height: 445px;
      object-fit: cover;
      @media(max-width: 1920px){
        	height: 23.18vw;
      }
      @media(max-width: 1460px){
        	height: 22.61vw;
      }
      @media(max-width: 992px){
        	height: 29.31vw;
      }
      @media(max-width: 768px){
        	height: 300px;
      }
    }
    &__pricing{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px 24px;
    }
  }
  &-small{
    &__foto{
      width: 100%;
      height: 357px;
      object-fit: cover;
      @media(max-width: 1920px){
        height: 18.6vw;
      }
      @media(max-width: 1460px){
        height: 17.1vw;
      }
      @media(max-width: 992px){
        height: 21.6vw;
      }
      @media(max-width: 880px){
        height: 30.1vw;
      }
      @media(max-width: 565px){
        height: 46.1vw;
      }
    }
    &__pricing{
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
  }
  &-tags{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    right: 50px;
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    &__item{
      display: flex;
      padding: 2.5px 10px;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(40px);
    }
  }
  &__name{
    margin-bottom: 10px;
    @media(max-width: 768px){
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__price{
    font-size: 22px;
    font-weight: 700;
    line-height: 110%;
    &--sign{
      font-size: 16px;
      font-weight: 600;
      line-height: 120%;
    }
  }
  &-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 28px;
    margin-left: auto;
    background: $light-grey;
    border-radius: 8px;
    transition: background 0.3s;
    path{
      transition: stroke 0.3s;
    }
    &:hover{
      background: $dark;
      path{
        stroke: $white;
      }
    }
    &.is-active{
      background: $orange;
      path{
        stroke: $white;
      }
    }
  }
  &-videoclip{
    position: relative;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
  }
  &-videobox{
      position: relative;
      display: flex;
      width: 100%;
      height: 625px;
      margin-bottom: 18px;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
      @media(max-width: 1920px){
        height: 32.5vw;
      }
      @media(max-width: 1460px){
        height: 31.65vw;
      }
      @media(max-width: 992px){
        height: 38.65vw;
      }
      @media(max-width: 768px){
        height: 462px;
      }
  }
  &-video{
    position: relative;
    width: 100%;
    &__foto{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__icon{
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 40px;
      color: $white;
    }
  }
}
.infavor{
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  &.is-active{
    svg{
      fill: $orange;
    }
  }
}
.grid-4{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  @media(max-width: 992px){
    grid-template-columns: repeat(3, 1fr);
  }
  @media(max-width: 880px){
    grid-template-columns: repeat(2, 1fr);
  }
  @media(max-width: 768px){
    grid-template-columns: repeat(3, 1fr);
  }
  @media(max-width: 565px){
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
.create{
  margin-bottom: 20px;
  &__box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    overflow: hidden;
    @media(max-width: 800px){
      grid-template-columns: 1fr;
    }
  }
  &-info{
    display: flex;
    flex-direction: column;
    padding: 40px;
    background: $white;
    @media(max-width: 768px){
      padding: 40px 20px;
    }
    &__title{
      margin-bottom: 40px;
      font-size: 24px;
      line-height: 110%;
      font-weight: 700;
      @media(max-width: 768px){
        font-size: 22px;
      }
    }
    &__textbox{
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: auto;
    }
    &__text{
      font-size: 23px;
      line-height: 108%;
      font-weight: 600;
      color: rgba(143, 143, 143, 0.6);
      letter-spacing: -0.9px;
      @media(max-width: 1460px){
        font-family: $raleway;
        font-size: 16px;
        font-weight: 600;
        line-height: 120%;
        color: $dark;
      }
    }
  }
  &-scheme{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 580px;
    padding-top: 40px;
    padding-bottom: 52px;
    @media(max-width: 768px){
      height: 460px;
    }
    &__bgfoto{
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__name{
      font-size: 14px;
      font-weight: 500;
      line-height: 110%;
      color: $white;
      @media(max-width: 1460px){
        font-size: 16px;
      }
    }
    &__box{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      max-width: 445px;
      width: 100%;
      height: 450px;
      @media(max-width: 768px){
        max-width: 320px;
        height: 330px
      }
    }
    &__cat{
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 200px;
      color: $white;
      border: 1px solid $white;
      border-radius: 50%;
      @media(max-width: 768px){
        width: 145px;
        height: 145px;
      }
      &--taro{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      &--pcyho{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
.feedback{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 120px;
  padding: 80px 40px;
  background: $white;
  border-radius: 10px;
  @media(max-width: 1460px){
    grid-template-columns: 1fr;
    gap: 40px;
  }
  @media(max-width: 992px){
    padding: 40px 20px;
  }
  @media(max-width: 768px){
    margin-bottom: 50px;
  }
  &__title{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 110%;
    @media(max-width: 1460px){
      font-size: 22px;
    }
  }
  &__textbox{
    max-width: 685px;
    width: 100%;
    @media(max-width: 1460px){
      max-width: 940px;
    }
  }
  &__text{
    font-size: 13px;
    line-height: 140%;
    font-weight: 500;
    color: $middle-grey;
    @media(max-width: 1460px){
      font-size: 16px;
      color: $dark;
      line-height: 120%;
    }
  }
  &-form{
    &__fields{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      margin-bottom: 20px;
      @media(max-width: 768px){
        grid-template-columns: 1fr;
      }
    }
    &__input{
      width: 100%;
      height: 64px;
      font-family: $raleway;
      font-size: 16px;
      color: $dark;
      border: none;
      border-radius: 8px;
      @media(max-width: 1460px){
        height: 38px;
      }
    }
    &__button{
      height: 64px;
      padding: 0 15px;
      @media(max-width: 1460px){
        height: 38px;
      }
    }
  }
}
.agree{
  display: flex;
  align-items: center;
  gap: 16px;
  &__text{
    font-size: 14px;
    a{
      font-size: 14px;
      text-decoration: underline;
    }
  }
}
.checkbox{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  &-area{
    position: relative;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 5px;
    border: 2px solid $dark;
    overflow: hidden;
    &__icon{
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }
  &__input{
    position: absolute;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    &:checked + .checkbox-area {
      border:none;
      .checkbox-area__icon{
        opacity: 1;
      }
    }
  }
}
.popup{
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  &.is-open{
    opacity: 1;
    pointer-events: all;
  }
  &__close{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;

  }
  &__body{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 60px 20px;
    background: $white;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.04);
    @media(max-width: 565px){
      top: 0px;
    }
  }
}
.popup-oneclick{
  max-width: 600px;
  width: 100%;
  &__title.page-title{
    margin-bottom: 40px;
  }
  &__form{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.popup-fastview{
  max-width: 1000px;
  width: 100%;
  padding: 60px 0px 40px 20px;
  background: $white-grey;
  @media(max-width: 768px){
    padding: 44px 10px;
  }
  &__box{
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    align-items: start;
    @media(max-width: 992px){
      grid-template-columns: 0.9fr 1fr;
    }
    @media(max-width: 768px){
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }
}
.popup-delivery{
  max-width: 582px;
  width: 100%;
  &__title.page-title{
    margin-bottom: 20px;
  }
  &__text{
    margin-bottom: 40px;
  }
}
.popup-personal{
  max-width: 375px;
  width: 100%;
  &__title.page-title{
    margin-bottom: 40px;
  }
  &__title{
    &--mb20.page-title{
      margin-bottom: 20px;
    }
  }
  &__form{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__subtitle{
    margin-bottom: 40px;
  }
}
.fastview-slider{
  max-width: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  &__foto{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}
.form{
  &__input{
    width: 100%;
    height: 38px;
    padding: 0 20px;
    font-family: $raleway;
    font-size: 16px;
    font-weight: 600;
    color: $middle-grey;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    &:focus-visible{
      outline: none;
    }
    &::placeholder{
      font-family: $raleway;
      font-size: 16px;
      font-weight: 600;
      color: $middle-grey;
    }
    &--phone{
      border: none;
    }
    &--comment{
      height: 113px;
      padding-top: 10px;
      resize: none;
    }
    &--select{
      cursor: pointer;
      appearance: none;
    }
  }
  &__selectbox{
    position: relative;
  }
  &__selecticon{
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 50%;
	  transform: translateY(-50%);
  }
}
.hover-blur{
  img{
    filter: blur(0);
    transition: filter 0.3s;
  }
  &:hover{
    img{
      filter: blur(10px);
    }
  }
}
.password-recovery{
  display: flex;
  text-decoration: underline;
  line-height: 120%;
  text-align: left;
}
.recovery-info{
  padding: 20px 0;
}


