.swiper-slide{
  display: flex;
}

.container{
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  @media(max-width: 768px){
    padding: 0 10px;
  }
}

.templates{
  padding: 100px 0;
  .raleway500{
    font-family: $raleway;
    font-weight: 500;
  }
  .raleway600{
    font-family: $raleway;
    font-weight: 600;
  }
  .raleway700{
    font-family: $raleway;
    font-weight: 700;
  }
  .forum400{
    font-family: $forum;
  }
}

.text{
  font-family: $raleway;
	font-size: 16px;
	font-weight: 600;
	line-height: 120%;
	color: $dark;
}

.button{
  width: 100%;
  height: 38px;
  border-radius: 8px;
  transition: background 0.3s;
  span{
    transition: color 0.3s;
  }
  &-white{
    background: $white;
    &:hover{
      background: $dark;
      span{
        color: $white;
      }
    }
  }
  &-black{
    background: $dark;
    span{
      color: $white;
    }
    
  }
  &-mobilecart{
    @media(max-width: 768px){
      display: flex;
      align-items: center;
      justify-content: center;
      width: 42px;
      height: 28px;
      margin-left: auto;
      background: $light-grey;
      border-radius: 8px;
    }
    span{
      @media(max-width: 768px){
        display: none;
      }
    }
    &__icon{
      display: none;
      @media(max-width: 768px){
        display: flex;
      }
    }
  }
}

.products-slider{
  margin: 0 0 38px 0;
  @media(max-width: 768px){
    max-width: 300px;
    width: 100%;
    overflow: visible;
  }
}

.video-slider{
  margin: 0 0 36px 0 ;
  @media(max-width: 768px){
    max-width: 260px;
    width: 100%;
    overflow: visible;
  }
}

.sliderbox{
  position: relative;
  overflow: hidden;
}

.slider-arrows{
  position: absolute;
  z-index: 2;
  top: 12.3vw;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
}
.products-arrows{
  @media(max-width: 992px){
    display: none;
  }
}

.slider-navbox{
  display: flex;
  justify-content: center;
}

.slider-nav{
  position: static;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  width: auto !important;
  margin: 0 auto;
  padding: 6px;
  border-radius: 18px;
  background: rgba(255,255,255,0.5);
  backdrop-filter: blur(40px);
  .swiper-pagination-bullet{
    margin: 0 !important;
    border: 1px solid rgba(0, 0, 0, 0.6);
    box-sizing: content-box;
    background: $white;
    transition: all 0.3s;
    cursor: pointer;
    &-active{
      border-color: transparent;
      background: $orange;
      box-sizing: border-box;
    }
  }
}

.previewslider-nav{
  position: absolute;
  left: 50% !important;
  transform: translateX(-50%);
  z-index: 1;
  @media(max-width: 565px){
    background: transparent;
  }
}

.slider-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(40px);
}
.slider-btnrev{
  transform: rotate(180deg);
}

.preview{
  position: relative;
  width: 100%;
  overflow: hidden;
  &__fotobox{
    position: relative;
    display: flex;
    margin-bottom: 18px;
    border-radius: 10px;
    overflow: hidden;
  }
  &-big{
    &__foto{
      width: 100%;
      height: 23.18vw;
      object-fit: cover;
      @media(max-width: 1460px){
        	height: 22.61vw;
      }
      @media(max-width: 992px){
        	height: 29.31vw;
      }
      @media(max-width: 768px){
        	height: 300px;
      }
    }
    &__pricing{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px 24px;
    }
  }
  &-small{
    &__foto{
      width: 100%;
      height: 18.6vw;
      object-fit: cover;

    }
    &__pricing{
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
  }
  &-tags{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 50px;
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    &__item{
      display: flex;
      padding: 2.5px 10px;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(40px);
    }
  }
  &__name{
    margin-bottom: 10px;
    @media(max-width: 768px){
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__price{
    font-size: 22px;
    font-weight: 700;
    line-height: 110%;
    &--sign{
      font-size: 16px;
      font-weight: 600;
      line-height: 120%;
    }
  }
  &-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 28px;
    margin-left: auto;
    background: $light-grey;
    border-radius: 8px;
  }
  &-video{
    width: 100%;
    &__fotobox{
      position: relative;
      display: flex;
      margin-bottom: 18px;
      border-radius: 10px;
      overflow: hidden;
    }
    &__foto{
      width: 100%;
      height: 32.5vw;
      object-fit: cover;
      @media(max-width: 1460px){
        height: 31.65vw;
      }
      @media(max-width: 992px){
        height: 38.65vw;
      }
      @media(max-width: 768px){
        height: 462px;
      }
    }
    &__icon{
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.infavor{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.grid-4{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  @media(max-width: 992px){
    grid-template-columns: repeat(3, 1fr);
  }
  @media(max-width: 565px){
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

