$raleway: "Raleway", sans-serif;
$forum: "Forum", serif;

$dark: #222;
$orange: #E9711F;
$orange-dark: #B45C20;
$white: #FFF;
$white-grey: #F8F8F8;
$light-grey: #EDEDED;
$middle-grey: #8F8F8F;
$footer-grey: #F4F4F4;

// MIXINS
	// @mixin NAMEMIXIN
