.full-container {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
}

.page-title {
	margin: 0;
	font-weight: 700;
	font-size: 22px;
	line-height: 1.1;
	letter-spacing: -0.04em;
	color: var(--gr-e);
}

.button {
	&.hover-white {
		&:hover {
			background-color: #fff;

			span {
				color: var(--gr-e);
			}
		}
	}

	&.inline-flex {
		display: inline-flex;
		width: initial;
		padding: 8px 30px;
	}
}

/* ========================
.breadcrumbs
======================== */

.breadcrumbs {
	padding-top: 55px;
	padding-bottom: 37px;

	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 17px;
		padding: 0;
	}

	&__item {
		display: flex;
		align-items: center;
		gap: 17px;

		&:not(:last-child) {
			position: relative;

			&::after {
				position: relative;
				content: '';
				display: flex;
				border-top: 5px solid transparent;
				border-left: 6px solid var(--gr-e);
				border-bottom: 5px solid transparent;
			}
		}
	}

	&__link {
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 16px;
		line-height: 1.2;
		letter-spacing: -0.6px;
		color: var(--gr-e);

		transition: all 0.25s;

		&:hover {
			color: var(--br-b);
		}

		&--home {
			a {
				display: inline-flex;
				align-items: center;
			}
		}
	}

	&__home {
		position: relative;
		display: inline-flex;
		width: auto;
	}

	&__title {
		letter-spacing: -0.6px;
	}
}


/* ========================
END .breadcrumbs
======================== */


/* ========================
.to-client
======================== */

.to-client {
	font-family: var(--font-family);
	background-color: var(--gr-a);
}

.to-client__box {
	display: flex;
	flex-direction: column;
	gap: 30px;

	@media screen and (max-width: 768px) {
		gap: 20px;
	}
}

.clients-info {
	padding: 0px 0px 80px 0px;

	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 10px;

	@media screen and (max-width: 768px) {
		padding: 40px 0;
		grid-template-columns: repeat(2, 1fr);
	}
}

.clients-info__item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	gap: 20px;
	grid-column: span 2;

	border-radius: 20px;
	padding: 40px 20px;
	min-height: 167px;

	text-align: center;

	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.04);
	background: var(--wh);


	&:nth-last-child(1) {
		&:nth-child(3n+1) {
			grid-column: span 6;

			@media screen and (max-width: 768px) {
				grid-column: span 1;
			}
		}

		&:nth-child(3n+2) {
			grid-column: span 3;
		}
	}

	&:nth-last-child(2) {
		&:nth-child(3n+1) {
			grid-column: span 3;

			@media screen and (max-width: 768px) {
				grid-column: span 1;
			}
		}
	}

	@media screen and (max-width: 768px) {
		grid-column: span 1;
		padding: 20px;
		min-height: 127px;

		&:last-child {
			&:nth-child(odd) {
				grid-column: span 2;
			}
		}
	}

}

.clients-info__icon {
	display: block;
	margin: 0 auto;
	height: 48px;
	width: auto;

	transition: all .25s ease-out;

	// .clients-info__item:hover & {
	// 	transform: skew(-6deg, 0);
	// 	filter: drop-shadow(1px 1px 0px var(--br-b));
	// }
}


.clients-info__title {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: -0.04em;
	color: var(--gr-e);

	transition: color 0.25s, transform 0.25s;

	// .clients-info__item:hover & {
	// 	color: var(--br-b);
	// }
}

/* ========================
END .to-client
======================== */

/* ========================
.product-page
======================== */

.gallery-page {}

.gallery-page {
	display: flex;
	flex-direction: column;
	gap: 27px;

	font-family: var(--font-family);
	font-weight: 600;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: -0.04em;
	color: var(--gr-e);
	background-color: var(--gr-a);
}

.gallery-page__grid {
	padding: 0px 0px 80px 0px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;

	@media screen and (max-width: 768px) {
		grid-template-columns: 1fr;
		gap: 40px;
	}
}

.gallery-page__photo {
	overflow: hidden;
}

.photo-gallery {
	display: flex;
	flex-direction: column;
}

.gallery-page__info {
	padding: 160px 40px 0;

	display: flex;
	flex-direction: column;
	gap: 11px;

	@media screen and (max-width: 992px) {
		padding: 80px 20px 0;
	}

	@media screen and (max-width: 768px) {
		padding: 40px 10px 0;
	}

	h2 {
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 16px;
		line-height: 1.2;
		letter-spacing: -0.04em;
		color: var(--gr-e);
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: 11px;

		list-style-type: disc;
		list-style-position: inside;
	}
}

.text-indent {
	margin-bottom: 32px;
	display: flex;
	flex-direction: column;
	gap: 11px;
}

/* ========================
END .product-page
======================== */

/* ========================
.photo-gallery
======================== */

.photo-gallery {
	display: flex;
	flex-direction: column;
}

.photo-gallery__item {
	width: 100%;
}

.photo-gallery__img {
	display: block;
	width: 100%;
	height: auto;
}

/* ========================
END .photo-gallery
======================== */

/* ========================
.gallery-page__products
======================== */

.gallery-page__products {
	padding-top: 40px;
}

.gallery-page__products .container {
	display: flex;
	flex-direction: column;
	gap: 36px;

	& > * {
		margin: 0;
	}
}

/* ========================
END .gallery-page__products
======================== */

/* ========================
.bibliya-kamnei
======================== */

.dark-page {
	.page-title {}
}

.dark-page__box {
	min-width: 0;
	display: flex;
	flex-direction: column;
	gap: 27px;
	background-color: var(--gr-a);
}

.dark-page__grid {
	padding-bottom: 80px;
	display: grid;
	grid-template-columns: 370px 1fr;
	gap: 20px;

	@media screen and (max-width: 1600px) {
		grid-template-columns: 25% 1fr;
	}

	@media screen and (max-width: 768px) {
		padding-bottom: 0;
		grid-template-columns: 1fr;
	}

	&.one-col {
		.dark-page__main {
			@media screen and (max-width: 992px) {
				padding: 40px 10px;
			}

			@media screen and (max-width: 460px) {
				padding-top: 340px;
			}
		}
	}
}

.dark-page__aside {
	padding-left: 40px;

	@media screen and (max-width: 768px) {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.dark-page__main-wrapper {
	min-width: 0;

	.page-title {
		margin-bottom: 20px;
		font-size: 24px;

		@media screen and (max-width: 768px) {
			font-size: 24px;
		}
	}

	.dark-page__subtitle {
		margin-bottom: 30px;
		font-weight: 600;
		color: rgba(143, 143, 143, 0.6);

		@media screen and (max-width: 768px) {
			margin-bottom: 40px;
			color: var(--gr-e);
		}
	}
}

.dark-page__top {
	@media screen and (max-width: 768px) {
		padding: 0 10px;
	}
}

.dark-page__main {
	position: relative;
	padding: 150px 40px 80px 80px;
	color: var(--gr-a);
	background-color: #0b0b0b;
	overflow: hidden;

	@media screen and (max-width: 1200px) {
		padding: 40px;
	}

	@media screen and (max-width: 992px) {
		padding: 10px;
	}

	.page-title {
		color: var(--gr-a);
	}
}

.dark-page__subgrid {
	position: relative;
	z-index: 2;
}

.dark-page__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 1;

	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.tb-subgrid {
	display: grid;
	grid-template-columns: 240px 1fr;
	gap: 40px;

	@media screen and (max-width: 992px) {
		gap: 20px;
		grid-template-columns: 30% 1fr;
	}

	@media screen and (max-width: 800px) {
		grid-template-columns: 1fr;
	}

	@media screen and (max-width: 768px) {
		gap: 60px;
	}
}

.tb-subgrid__img {
	display: block;
	width: 100%;
	height: auto;

	@media screen and (max-width: 800px) {
		max-width: 515px;
	}
}

.tb-subgrid__main {
	position: relative;
	z-index: 2;
	max-width: 515px;
	font-size: 18px;

	@media screen and (max-width: 992px) {
		font-size: 16px;
	}

	h2 {
		font-weight: 700;
		font-size: 22px;
		line-height: 1.1;
		letter-spacing: -0.04em;
	}

	h3 {
		font-weight: 600;
		font-size: 18px;
		line-height: 1.2;
	}

	p {
		line-height: 1.2;
	}

	.block {
		margin-bottom: 40px;
		display: flex;
		flex-direction: column;
		gap: 20px;

		@media screen and (max-width: 768px) {
			margin-bottom: 60px;
		}

		.page-title {
			margin-bottom: 0;
		}
	}

	.block-descr {
		display: flex;
		flex-direction: column;
		gap: 20px;
		line-height: 1.2;

		& > * {
			margin: 0;
		}
	}

	.list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 4px;

		@media screen and (max-width: 360px) {
			grid-template-columns: 1fr;
		}

		&.cost {
			.list-item {
				min-height: 120px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				gap: 16px;

				&:last-child {
					&:nth-child(2n+1) {
						grid-column: span 2;

						@media screen and (max-width: 360px) {
							grid-column: span 1;
						}
					}
				}
			}

			.price {
				font-weight: 700;
				font-size: 22px;
			}
		}
	}

	.list-item {
		padding: 20px;
		min-height: 139px;

		display: flex;
		flex-direction: column;
		gap: 20px;

		line-height: 1.2;

		border: 1px solid var(--wh);
		border-radius: 20px;

		@media screen and (max-width: 768px) {
			min-height: 130px;
		}
	}

	.list-circle {
		padding: 0 7px;

		display: grid;
		// grid-template-columns: repeat(2, 1fr);
		grid-template-columns: 50% 50%;
		max-width: 100%;
		width: 100%;
		box-sizing: border-box
	}

	.list-circle__item {
		display: flex;
		align-items: center;
		justify-content: center;

		aspect-ratio: 1/1;
		width: calc((515px - 7px*2)/2);
		text-align: center;

		border: 1px solid var(--wh);
		border-radius: 50%;
		padding: 20px;
		background-color: transparent;

		transition: all .25s;

		// &:hover {
		// 	background-color: #fff;
		// 	color: #000;
		// }

		@media screen and (max-width: 535px) {
			width: calc((100vw - 7px*2 - 10px*2)/2);
		}

		@media screen and (max-width: 360px) {
			font-size: 13px;
			line-height: 1.5;
		}
	}

	.img-box {
		padding: 10px 0;

		img {
			max-width: 100%;
		}
	}

	.full-w {
		display: block;
		width: 100%;
		height: auto;
	}

	.about-author {
		position: relative;
	}

	.about-author__img {
		display: block;
		width: 100%;
		height: auto;
	}

	.about-author__text {
		position: absolute;
		left: 0;
		top: 42px;

		border: 1px solid var(--br-b);
		border-radius: 20px;
		padding: 20px;
		max-width: 256px;
		width: 49.708738%;
		min-width: 180px;
		min-height: 97px;

		font-weight: 600;
		font-size: 16px;

		@media screen and (max-width: 768px) {
			font-size: 14px;
			font-weight: 500;
		}
	}

	.btns {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

}

.btn {
	padding: 10px 30px;
	display: inline-block;

	font-family: var(--font-family);
	font-weight: 600;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: -0.04em;
	color: var(--gr-e);
	text-decoration: none;
	text-align: center;

	border-radius: 8px;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.04);
	background: var(--wh);

	transition: all 0.25s;

	@media screen and (max-width: 768px) {
		padding: 10px 24px;
	}

	&.dark {
		color: var(--wh);
		background-color: var(--gr-e);
	}

	&.small {}

	// &:hover {
	// 	transform: translateY(-2px);
	// }
}

.dark-page__main .video-box {
	margin-bottom: 40px;
	padding-top: 30px;
	padding-bottom: 40px;

	display: flex;
	flex-direction: column;
	gap: 40px;

	@media screen and (max-width: 768px) {
		margin-bottom: 60px;
	}

	.text {
		color: #fff;
	}

	.slider-nav {
		background-color: transparent;
	}
}

.dark-page__subtitle {}

/* ========================
END .bibliya-kamnei
======================== */

/* ========================
.aside-nav
======================== */

.aside-nav {
	position: sticky;
	// top: 150px;
	top: 0;
	padding-top: 150px;

	@media screen and (max-width: 1200px) {
		padding-top: 80px;
		top: 80px;
	}

	@media screen and (max-width: 992px) {
		padding-top: 0;
	}
}

.aside-nav__list {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.aside-nav__item {
	font-weight: 600;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: -0.04em;

	&.active {
		.aside-nav__link {
			color: var(--br-b);
		}
	}
}

.aside-nav__link {
	color: var(--gr-e);
	text-decoration: none;
	transition: all 0.25s;

	&:hover {
		color: var(--br-b);
	}
}

/* ========================
END .aside-nav
======================== */

.template-creating .feedback {
	margin-bottom: 40px;

	@media screen and (max-width: 768px) {
		margin-bottom: 10px;
	}
}

.template-creating .products-previews {
	margin-bottom: 40px;
}

.play-video {
	padding: 10px 0;
}

.play-video__box {
	position: relative;
	aspect-ratio: 515/272;
	cursor: pointer;
	overflow: hidden;

	&:hover {
		.play-video__icon {
			transform: translate(-50%, -50%) scale(1.2);
		}
	}
}

.play-video__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.play-video__icon {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all .25s;
}

.text-center {
	text-align: center;
}

.mb70 {
	margin-bottom: 70px;
}


/* ========================
.special-offer
======================== */

.special-offer {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.so-category {
	padding-top: 40px;
	padding-bottom: 80px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 80px 20px;

	@media screen and (max-width: 992px) {
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
	}

	@media screen and (max-width: 768px) {
		padding-bottom: 40px;
	}

	@media screen and (max-width: 460px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.so-category__item {
	padding-bottom: 18px;
}

.so-category__link {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.so-category__img-box {
	position: relative;
	border-radius: 10px;
	overflow: hidden;

	&:hover {
		.so-category__img {
			transform: scale(1.1);
		}
	}
}

.so-category__img {
	display: block;
	width: 100%;
	height: auto;

	transition: all .25s;
}

.so-category__tags {
	position: absolute;
	top: 10px;
	left: 10px;
	width: calc(100% - 20px);

	display: flex;
	flex-wrap: wrap;
	gap: 4px 8px;
}

.so-category__tag {
	padding: 3px 10px;

	font-weight: 600;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: -0.04em;
	color: var(--gr-e);
	text-decoration: none;

	border-radius: 20px;
	backdrop-filter: blur(40px);
	background: rgba(255, 255, 255, 0.7);
}

.so-category__title {
	font-weight: 600;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: -0.04em;
	color: var(--gr-e);
}

/* ========================
END .special-offer
======================== */

/* ========================
.action-page
======================== */

.action-page {
	display: flex;
	flex-direction: column;
	gap: 30px;

	@media screen and (max-width: 768px) {
		gap: 20px;
	}
}

.action-page__box.products-previews {
	padding-top: 80px;

	@media screen and (max-width: 992px) {
		padding-top: 0;
	}
}

.action-page__box {
	.products-slider {
		margin: 0;
	}

	.preview__name {
		margin: 0;
	}
}

.cols-700-620 {
	padding-bottom: 80px;

	display: grid;
	grid-template-columns: 47.9452% 42.4658%;
	gap: 60px;

	@media screen and (max-width: 992px) {
		gap: 40px;
	}

	@media screen and (max-width: 768px) {
		grid-template-columns: 1fr;
		gap: 20px;
	}
}

.col-700 {}

.col-620 {
	padding-top: 20px;

	display: flex;
	flex-direction: column;
	gap: 11px;
}

.action-page__img-box {
	position: relative;
	margin-bottom: 18px;

	border-radius: 10px;
	overflow: hidden;

	&:hover {
		img {
			transform: scale(1.1);
		}
	}
}

.action-page__img {
	display: block;
	width: 100%;
	height: auto;

	transition: all 0.25s;
}

/* ========================
END .action-page
======================== */

/* ========================
.article
======================== */

.article {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.so-category__tags {
		position: relative;
		top: initial;
		left: initial;
		width: initial;
	}

	.so-category__tag {
		backdrop-filter: blur(40px);
		background: var(--gr-b);
	}

	.page-title {
		margin-bottom: 10px;

		@media screen and (max-width: 768px) {
			margin-bottom: 0;
		}
	}
}

.article__img-block {
	padding-bottom: 20px;

	display: flex;
	flex-direction: column;
	gap: 10px;

	&:not(:last-child) {
		margin-bottom: 30px;

		@media screen and (max-width: 768px) {
			margin-bottom: 20px;
		}
	}
}

.article__img-box {
	overflow: hidden;
	border-radius: 10px;

	&:hover {
		img {
			transform: scale(1.1);
		}
	}
}

.article__img {
	display: block;
	width: 100%;
	height: auto;

	border-radius: 10px;
	transition: all 0.25s;
}

.col-860 {
	padding-bottom: 80px;

	display: flex;
	flex-direction: column;
	gap: 20px;

	max-width: 860px;
}

.col-860__block {
	padding-bottom: 60px;

	display: flex;
	flex-direction: column;
	gap: 11px;

	@media screen and (max-width: 992px) {
		padding-bottom: 40px;
	}

	&:last-child {
		padding-bottom: 0;
	}
}

.col-860__img-box {
	overflow: hidden;
	border-radius: 10px;

	&:hover {
		img {
			transform: scale(1.1);
		}
	}
}

.col-860__img {
	display: block;
	width: 100%;
	height: auto;

	transition: all 0.25s;
}

.products-previews.article__products {
	margin: 0;
	padding-top: 40px;
	padding-bottom: 80px;

	@media screen and (max-width: 992px) {
		padding-top: 0;
		padding-bottom: 40px;
	}
}

/* ========================
END .article
======================== */

/* ========================
.blog
======================== */

.blog {
	.page-title {
		margin-bottom: 20px;
	}

	.tags {
		margin: 0;
		padding: 0;
		border: none;
	}

	.tags__list {
		padding: 0;
	}

	.tags__listbox {
		max-height: initial;
	}
}

/* ========================
END .blog
======================== */