.full-container {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
}

.page-title {
	margin: 0;
	font-weight: 700;
	font-size: 22px;
	line-height: 1.1;
	letter-spacing: -0.04em;
	color: var(--gr-e);
}

/* ========================
.breadcrumbs
======================== */

.breadcrumbs {
	margin-bottom: 27px;
}

.breadcrumbs__list {
	padding: 8px 0;
}

.breadcrumbs__item {
	padding: 8px 0;
	display: inline;

	&:not(:last-child) {
		position: relative;
		padding-right: 10px;

		&::after {
			position: relative;
			top: -7px;
			content: '';
			display: inline-flex;
			border-top: 5px solid transparent;
			border-left: 6px solid var(--gr-e);
			border-bottom: 5px solid transparent;
		}

		.breadcrumbs__link {
			margin-right: 20px;
		}
	}
}

.breadcrumbs__link--home {
	a {
		display: inline-flex;
		align-items: center;
	}
}

.breadcrumbs__home {
	position: relative;
	display: inline-flex;
	height: 18px;
	width: auto;
	top: 2px;
}

.breadcrumbs__link {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: -0.04em;
	color: var(--gr-e);

	transition: all 0.25s;

	&:hover {
		color: var(--br-b);
	}
}

.breadcrumbs__title {
	color: var(--gr-c);
}

/* ========================
END .breadcrumbs
======================== */


/* ========================
.to-client
======================== */

.to-client {
	font-family: var(--font-family);
	background-color: var(--gr-a);
}

.to-client__box {
	display: flex;
	flex-direction: column;
	gap: 30px;

	@media screen and (max-width: 768px) {
		gap: 20px;
	}
}

.clients-info {
	padding: 0px 0px 80px 0px;

	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 10px;

	@media screen and (max-width: 768px) {
		padding: 40px 0;
		grid-template-columns: repeat(2, 1fr);
	}
}

.clients-info__item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	gap: 20px;
	grid-column: span 2;

	border-radius: 20px;
	padding: 40px 20px;
	min-height: 167px;

	text-align: center;

	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.04);
	background: var(--wh);


	&:nth-last-child(1) {
		&:nth-child(3n+1) {
			grid-column: span 6;

			@media screen and (max-width: 768px) {
				grid-column: span 1;
			}
		}

		&:nth-child(3n+2) {
			grid-column: span 3;
		}
	}

	&:nth-last-child(2) {
		&:nth-child(3n+1) {
			grid-column: span 3;

			@media screen and (max-width: 768px) {
				grid-column: span 1;
			}
		}
	}

	@media screen and (max-width: 768px) {
		grid-column: span 1;
		padding: 20px;
		min-height: 127px;

		&:last-child {
			&:nth-child(odd) {
				grid-column: span 2;
			}
		}
	}

}

.clients-info__icon {
	display: block;
	margin: 0 auto;
	height: 48px;
	width: auto;

	transition: all .25s ease-out;

	.clients-info__item:hover & {
		transform: skew(-6deg, 0);
		filter: drop-shadow(1px 1px 0px var(--br-b));
	}
}


.clients-info__title {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: -0.04em;
	color: var(--gr-e);

	transition: color 0.25s, transform 0.25s;

	.clients-info__item:hover & {
		color: var(--br-b);
	}
}

/* ========================
END .to-client
======================== */

/* ========================
.product-page
======================== */

.gallery-page {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: -0.04em;
	color: var(--gr-e);
}

.gallery-page__box {
	display: flex;
	flex-direction: column;
	gap: 27px;
}

.gallery-page__grid {
	padding: 0px 0px 80px 0px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;

	@media screen and (max-width: 768px) {
		grid-template-columns: 1fr;
		gap: 40px;
	}
}

.gallery-page__photo {
	overflow: hidden;
}

.photo-gallery {
	display: flex;
	flex-direction: column;
}

.gallery-page__info {
	padding: 160px 40px 80px;

	display: flex;
	flex-direction: column;
	gap: 11px;

	@media screen and (max-width: 992px) {
		padding: 80px 20px 80px;
	}

	@media screen and (max-width: 768px) {
		padding: 40px 10px 80px;
	}

	h2 {
		font-family: var(--font-family);
		font-weight: 600;
		font-size: 16px;
		line-height: 1.2;
		letter-spacing: -0.04em;
		color: var(--gr-e);
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: 11px;

		list-style-type: disc;
		list-style-position: inside;
	}
}

.text-indent {
	margin-bottom: 32px;
	display: flex;
	flex-direction: column;
	gap: 11px;
}

/* ========================
END .product-page
======================== */

/* ========================
.photo-gallery
======================== */

.photo-gallery {
	display: flex;
	flex-direction: column;
}

.photo-gallery__item {
	width: 100%;
}

.photo-gallery__img {
	display: block;
	width: 100%;
	height: auto;
}

/* ========================
END .photo-gallery
======================== */

/* ========================
.gallery-page__products
======================== */

.gallery-page__products {
	padding-top: 40px;
}

.gallery-page__products .container {
	display: flex;
	flex-direction: column;
	gap: 36px;

	& > * {
		margin: 0;
	}
}

/* ========================
END .gallery-page__products
======================== */