mixin galleryPageProduct(src, title)
	.swiper-slide
		.preview.preview-big
			.preview__fotobox
				img.preview-big__foto(src=""+src, alt="Фотография товара")
				.preview-tags
					span.preview-tags__item.text Бессрочная акця
			h6.preview__name.text #{title}



<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Акция 1460
	
	body
		include ./../sections/_header.pug
		+breadcrumbs([
			{ title: 'Акции', url: '' }
		])

		.container
			main.action-page
				h1.page-title При покупке браслетов от 8 900₽ дарим сертификат на 1 000₽

				.cols-700-620
					.col-700
						.action-page__img-box
							img.action-page__img(src="img/action-page/01.webp", alt="")
							.so-category__tags
								span.so-category__tag Бессрочная акця
					.col-620
						p При покупке браслетов от 8 900₽ дарим сертификат на 1 000₽
						p Бессрочная акция
						p <br>
						p При покупке браслетов от 8 900₽ дарим сертификат на 1 000₽, а браслета от 52 900₽ сертификат на 3 000₽ на следующую покупку. Классно да??
						p Но это еще не все!!! Сертификатом вы можете воспользоваться сами или подарить близкому 🔥 огонь??
						p Любим вас удивлять, ваш KEKLIK!
						p <br>
						p Приятных покупок🎁 позаботьтесь заранее о подарках вашим близким 🎄

		section.products-previews.action-page__box
			.container 
				h2.section-title.products-previews__title Другие акции
				.decoration-task 
					.decoration-task__sliders
						.sliderbox.sliderbox-mobile
							.slider-arrows.products-arrows
								button.slider-btn.slider-btnrev.js-prev
									svg(width="14", height="12", viewBox="0 0 14 12", fill="none", xmlns="http://www.w3.org/2000/svg")
										path(d="M12.0799 6.40431L0.635786 6.40431C0.279746 6.40431 -7.63309e-09 6.10256 -7.13606e-09 5.71853C-6.63902e-09 5.33449 0.279746 5.03274 0.635786 5.03274L12.0799 5.03274C12.436 5.03274 12.7157 5.33449 12.7157 5.71853C12.7157 6.10256 12.436 6.40431 12.0799 6.40431Z", fill="black")
										path(d="M8.901 11.2048C8.81762 11.2059 8.73494 11.1881 8.65829 11.1527C8.58164 11.1173 8.51272 11.0649 8.45595 10.9991C8.20163 10.7247 8.20163 10.2996 8.45595 10.0252L12.4614 5.70481L8.45595 1.38438C8.20163 1.11007 8.20163 0.684882 8.45595 0.410569C8.71026 0.136256 9.10445 0.136256 9.35876 0.410569L13.8093 5.21105C14.0636 5.48536 14.0636 5.91054 13.8093 6.18486L9.35876 10.9853C9.23161 11.1225 9.0663 11.1911 8.91372 11.1911L8.901 11.2048Z", fill="black")
								button.slider-btn.js-next
									svg(width="14", height="12", viewBox="0 0 14 12", fill="none", xmlns="http://www.w3.org/2000/svg")
										path(d="M12.0799 6.40431L0.635786 6.40431C0.279746 6.40431 -7.63309e-09 6.10256 -7.13606e-09 5.71853C-6.63902e-09 5.33449 0.279746 5.03274 0.635786 5.03274L12.0799 5.03274C12.436 5.03274 12.7157 5.33449 12.7157 5.71853C12.7157 6.10256 12.436 6.40431 12.0799 6.40431Z", fill="black")
										path(d="M8.901 11.2048C8.81762 11.2059 8.73494 11.1881 8.65829 11.1527C8.58164 11.1173 8.51272 11.0649 8.45595 10.9991C8.20163 10.7247 8.20163 10.2996 8.45595 10.0252L12.4614 5.70481L8.45595 1.38438C8.20163 1.11007 8.20163 0.684882 8.45595 0.410569C8.71026 0.136256 9.10445 0.136256 9.35876 0.410569L13.8093 5.21105C14.0636 5.48536 14.0636 5.91054 13.8093 6.18486L9.35876 10.9853C9.23161 11.1225 9.0663 11.1911 8.91372 11.1911L8.901 11.2048Z", fill="black")
							.products-slider.swiper.js-slider 
								.swiper-wrapper
									+galleryPageProduct(
										'img/action-page/02.webp',
										'Украшения по знаку зодиака: Какие украшения подойдут Козерогам, Львам и Рыбам'
									)
									+galleryPageProduct(
										'img/action-page/03.webp',
										'Какие камни используются в ювелирных украшениях'
									)
									+galleryPageProduct(
										'img/action-page/04.webp',
										'Браслеты KEKLIK — больше, чем камни'
									)
									+galleryPageProduct(
										'img/action-page/05.webp',
										'Как определить, какой камень подходит. Выбор камня для украшения – это не просто выбор…'
									)

							.slider-navbox
								.slider-nav.js-catalogNav




		include ./../sections/_footer.pug

		include ./../sections/_scripts.pug