//- mixin photoGalleryItem(src)
//- 	a.photo-gallery__item(href=""+src data-fslightbox="gallery")
//- 		img(src=""+src, alt="Фотография товара").photo-gallery__img

<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title «Библия камней» — тысячелетние сакральные знания на человеческом языке

	body
		include ./../sections/_header.pug
		+breadcrumbs([
			{ title: 'Библия камней', url: '' }
		])

		.dark-page__box

			.full-container
				.dark-page__grid

					.dark-page__aside

						nav.aside-nav
							ul.aside-nav__list
								li.aside-nav__item
									a.aside-nav__link(href="#") Доставка
								li.aside-nav__item
									a.aside-nav__link(href="#") Оплата
								li.aside-nav__item
									a.aside-nav__link(href="#") Гарантия на товар
								li.aside-nav__item
									a.aside-nav__link(href="#") Возврат товара
								li.aside-nav__item
									a.aside-nav__link(href="#") Услуги по ремонту
								li.aside-nav__item.active
									a.aside-nav__link(href="#") Библия камней
								li.aside-nav__item
									a.aside-nav__link(href="#") Курсы
								li.aside-nav__item
									a.aside-nav__link(href="#") Сертификат
								li.aside-nav__item
									a.aside-nav__link(href="#") Вопрос-ответ
								li.aside-nav__item
									a.aside-nav__link(href="#") Реквизиты и документы

					.dark-page__main-wrapper
						.dark-page__top
							h1.page-title «Библия камней» — тысячелетние сакральные знания на человеческом языке
							p.dark-page__subtitle Единственная книга, которая мгновенно отвечает на ваши вопросы о камнях и их энергиях

						main.dark-page__main
							picture.dark-page__bg
								source(media="(max-width: 768px)", srcset="img/bibliya-kamnei/book-bg_mob.webp")
								img(src="img/bibliya-kamnei/book-bg.webp", alt="alt")

							.dark-page__subgrid.tb-subgrid

								img.tb-subgrid__img(src="img/bibliya-kamnei/book.webp", alt="")

								.tb-subgrid__main
									.block
										h2 О книге
										.block-descr
											p Автор: Светлана Шахрай
												br
												.
													Формат: PDF
												br
												.
													Часть 1: 897 страниц
												br
												.
													Часть 2: 1337 страниц
											p Эта книга создана, чтобы раскрыть перед вами тайны, спрятанные в сердце камней 
											p В ней собраны знания, которые меняют восприятие мира и помогают применять силу минералов в жизни, бизнесе и духовных практиках
											p «В миссии Создателя найдена запись: эти знания — для человечества, для всех, кто ищет глубину в энергиях камней»

									.block
										h2 Для кого эта книга?
										ul.list
											li.list-item Мастерам, работающим с камнями (ювелирам, литотерапевтам)
											li.list-item Экспертам эзотерики (астрологам, тарологам, нумерологам)
											li.list-item Психологам и коучам, использующим минералы в практике
											li.list-item Творческим людям, вдохновляющимся природой
											li.list-item Всем, кто хочет понимать язык камней и применять его в жизни

									.block
										h2 Что внутри?
										p Книга погружает вас в мир энергий, который существует более 3 миллионов лет, но часто остается незамеченным

									.block
										h3 Структура книги:
										ul.list
											li.list-item История и легенды каждого минерала
											li.list-item Месторождения и цветовые разновидности
											li.list-item Магические аспекты и практические ритуалы
											li.list-item Энергетика камней (Инь/Ян, совместимость с человеком)
											li.list-item Практическое применение в терапии, медитации и творчестве

									.block
										h2 Особенности подачи:
										ul.list
											li.list-item Простым, «человеческим» языком — без сложной терминологии
											li.list-item Визуальные элементы для лучшего запоминания
											li.list-item Готовые инструменты для работы (ритуалы, медитации, подбор камней под цели)

									.block
										h2 Цель книги
										ul.list
											li.list-item 
												p Познание
												p Углубить ваши знания о минералах
											li.list-item 
												p Вдохновение
												p Помочь создавать уникальные работы (украшения, арт-объекты)
											li.list-item 
												p Взаимодействие
												p Научиться «слышать» камни и использовать их силу

									.block
										h2 Об авторе
										.about-author
											img.about-author__img(src="img/bibliya-kamnei/about-author.webp", alt="Светлана Шахрай")
											.about-author__text «Моя задача — соединить древние знания и современный мир, чтобы каждый мог использовать силу камней осознанно»

									.block
										h2 Практическое применение
										ul.list
											li.list-item 
												p Образование
												p Используется в школах, музеях, курсах по минералогии
											li.list-item 
												p Творчество
												p Помогает ювелирам и художникам находить новые идеи
											li.list-item 
												p Терапия
												p Применяется в кристаллотерапии и энергетических практиках
											li.list-item 
												p Бизнес
												p Повышает экспертность мастеров, увеличивает ценность их услуг

									.block
										h2 Светлана Шахрай
										.block-descr
											p Человек-легенда, «говорящий» с камнями на их языке.
											p Создатель #МетодШахрай и международного бренда Keklik.
											p Эксперт по энергетике камней и их взаимодействию с человеком.

									.block
										h2 Как получить книгу
										ul.list
											li.list-item 
												p 01
												p Заполните форму (выберите часть 1, часть 2 или полную версию)
											li.list-item 
												p 02
												p Оплатите удобным способом, после звонка менеджера
											li.list-item 
												p 03
												p Скачайте книгу сразу после оплаты (ссылка придет на почту)
										p ВАЖНО: Если письма нет в основном inbox, проверьте папки «Спам», «Промо», «Рассылки»

									.block
										h2 Стоимость
										ul.list.cost
											li.list-item 
												p Часть 1 (897 стр.)
												p 
													span.price 3 599 ₽
											li.list-item 
												p Часть 2 (1337 стр.)
												p 
													span.price 4 199 ₽
											li.list-item 
												p Полная версия
												p 
													span.price 6 990 ₽
													|
													| (экономия 800 ₽)

										//- a.btn(href="#") Купить книгу
										a.button.button-white.hover-white(href="#") 
											span Купить книгу

										p P.S. Это не просто книга — это ваш проводник в мир энергий, который останется с вами на всю жизнь


									form.form.popup-oneclick__form.bg-white(action="")
										p.form-title Хотите понимать камни так, как чувствует Светлана Шахрай?
										p.form-descr Скачайте книгу прямо сейчас и начните применять эти значения сегодня!
										input.form__input(name="fio" type="text" placeholder="Ваше имя *")
										input.form__input(name="email" type="text" placeholder="Ваш email *")
										input.form__input.form__input--phone.js-phone(name="phone" type="text") 
										input.form__input(name="info" type="text" placeholder="Какую часть книги вы хотите?")
										button.button.button-black 
											span.text Отправить
										include ./../layouts/_agree.pug























		include ./../sections/_footer.pug

		include ./../sections/_scripts.pug