//- mixin photoGalleryItem(src)
//- 	a.photo-gallery__item(href=""+src data-fslightbox="gallery")
//- 		img(src=""+src, alt="Фотография товара").photo-gallery__img

<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title «Библия камней» — тысячелетние сакральные знания на человеческом языке

	body.bibliya-kamnei
		include ./../sections/_header.pug
		include ./../sections/_breadcrumbs.pug

		main.bibliya-kamnei__box
			.container
				h1.page-title «Библия камней» — тысячелетние сакральные знания на человеческом языке





		include ./../sections/_footer.pug

		include ./../sections/_scripts.pug