<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Keklik | Каталог
	body

		include ./../sections/_header.pug

		+breadcrumbs([
			{ title: 'Каталог'}
		])

		.categories 
			.container
				h1.page-title.categories__title Каталог украшений из натурального камня

				.categories__box 
					each item, i in ['Браслеты','Серьги','Кулоны','Чокеры','Колье','Кольца']
						a.categories-preview(href="#")
							img.categories-preview__foto(src=`img/catalog-${i+1}.webp`, alt="foto") 
							h6.categories-preview__name= item

				button.button.button-white.catalog-more 
					span.text Загрузить еще

				.categories__info 
					p.text Браслеты — дизайнерские аксессуары под любое мероприятие. Массивные изделия для свадьбы, утонченный вариант для рабочих будней и цепочка с камнями в подарок. Золото, серебро, керамика — исполним любую фантазию.
					p.text Ношение подчеркнет красоту запястья и глубину вкуса. Подбирайте браслеты в нашем интернет-магазине. Используйте фильтры, чтобы учесть пожелания: длину, металл, вставки, стиль и др. С удовольствием поможем выбрать изделие и оформить заказ. Звоните по телефону или пишите в онлайн-чат. Наша команда всегда на связи!

		include ./../sections/_footer.pug

		include ./../sections/_scripts.pug