mixin photoGalleryItem(src)
	a.photo-gallery__item(href=""+src data-fslightbox="gallery")
		img(src=""+src, alt="Фотография товара").photo-gallery__img

<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Страница товара

	body.gallery-page
		include ./../sections/_header.pug
		include ./../sections/_breadcrumbs.pug

		main.gallery-page__box
			.container
				h1.page-title Авантюрин

			.full-container
				.gallery-page__grid
					.gallery-page__photo
						.photo-gallery
							+photoGalleryItem('/img/gallery-page/01.webp')
							+photoGalleryItem('/img/gallery-page/02.webp')
							+photoGalleryItem('/img/gallery-page/03.webp')
					.gallery-page__info
						.text-indent
							h2 МАГИЧЕСКИЕ АСПЕКТЫ МИНЕРАЛА
							p Авантюрин, помимо своих природных красот и энергетических свойств, также ассоциируется с различными магическими аспектами.

						.text-indent
							p Вот некоторые из них:
							ul
								li Привлечение удачи: Авантюрин часто считается камнем удачи и процветания. Его энергия связана с привлечением положительных событий, благополучия и успеха. Многие верят, что он способствует притоку финансов и материального благополучия.
								li Гармонизация и баланс: камень ассоциируется с созданием энергетического баланса и гармонии в жизни. Его магические свойства помогают сглаживать конфликты, укреплять отношения и достигать внутреннего равновесия.
								li Защита и очищение: Авантюрин считается камнем, который обладает защитными свойствами. Его энергия способна помочь отражать негативные воздействия, создавать защитный барьер и очищать ауру от негативных энергий.
								li Развитие креативности: камень связывается с энергией креативности и вдохновения. В магии он часто используется для стимуляции творческих способностей, развития интуиции и раскрытия потенциала.
								li Работа с сердечной чакрой: Авантюрин ассоциируется с энергией сердца и любви. Он способен помогать в работе с эмоциями, расширении чувства сострадания и привлечении любви в жизнь.
								li Магия изобилия: энергия Авантюрина часто связывается с изобилием. В ритуалах и заклинаниях его могут использовать для создания изобилия в различных аспектах жизни, включая материальные блага, любовь и эмоциональное благополучие.
								li Аспекты самопознания: Авантюрин также может использоваться в работе над самопознанием. Его энергия поддерживает осознание своих истинных желаний, стимулирует личностный рост и помогает принять свое истинное «я».

						.text-indent
							h2 МЕСТОРОЖДЕНИЕ МИНЕРАЛА
							p Авантюрин встречается в различных частях мира, и его месторождения включают в себя:
							ul 
								li Индия: Индия является одним из крупных производителей Авантюрина. Камень добывается в различных штатах, таких как Карнатака, Махараштра и Андхра-Прадеш.
								li Бразилия: Бразилия также известна своими месторождениями Авантюрина. Штаты Минас-Жерайс и Баия являются ключевыми регионами добычи.
								li Россия: в России Авантюрин добывается в различных районах, включая республику Карелия и Урал.
								li Китай: Китай также входит в число стран, где добывается Авантюрин. Основные регионы включают провинции Хэйлунцзян и Ляонин.
								li США: в Соединенных Штатах Авантюрин добывается в штатах Колорадо, Аризона и Вирджиния.
								li Южная Африка: эта страна также известна своими месторождениями Авантюрина.

						.text-indent
							p Места добычи Авантюрина могут варьироваться, и камень может быть найден в различных частях света. Каждый из этих регионов производит Авантюрин с уникальными характеристиками и оттенками.

						.text-indent
							h2 ЦВЕТОВЫЕ РАЗНОВИДНОСТИ МИНЕРАЛА
							p Авантюрин может иметь разнообразные оттенки, но самые распространенные цвета включают:
							ul 
								li Зеленый: зеленый Авантюрин является наиболее распространенным и характерным оттенком. Он может варьироваться от светло-зеленого до темно-зеленого цвета.
								li Синий: синий Авантюрин также встречается, хотя встречается реже. Он может иметь оттенки от голубого до глубокого синего.
								li Коричневый: коричневый или золотисто-коричневый Авантюрин обычно называется «золотым» и может создавать эффект мерцающих включений.
								li Персиковый и оранжевый: иногда Авантюрин может иметь оттенки персикового или оранжевого цвета.
								li Красный: хотя красный Авантюрин встречается редко, некоторые образцы могут иметь оттенки красного.
							p Цвета Авантюрина обусловлены примесями и включениями, такими как фуксит (включения гематита).
							p Интересно, что этот камень может производить мерцающий эффект (авантюресценция), который делает его особенно привлекательным.


		include ./../sections/_footer.pug

		include ./../sections/_scripts.pug