<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Keklik | Home
	body
		
		include ./../sections/_header.pug

		include ./../sections/_present.pug

		include ./../sections/_present-category.pug

		include ./../sections/_video-slider.pug

		include ./../sections/_products-category-slider.pug
		
		include ./../sections/_footer.pug
		
		include ./../sections/_scripts.pug