<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Keklik | Товар
	body

		include ./../sections/_header.pug

		+breadcrumbs([
			{ title: 'Каталог', url: '/' },
			{ title: 'Украшения' }
		])

		.product 
			.full-container
				.product__box 
					.sliderbox
						.swiper.slider-products.js-sliderProducts 
							.swiper-wrapper 
								each elem in [1, 2, 3]
									.swiper-slide 
										img.product__foto(src='img/product-page-foto-' + elem + '.webp', alt="foto")
						.slider-nav.product-nav.js-previewProductNav
					aside.product__info 
						.product__infobox
							h1.product__title Комплект из Раухтопаза
							.preview-tags.product-tags
								span.preview-tags__item.product-tags__item.text Агат
								span.preview-tags__item.product-tags__item.text Родонит
								span.preview-tags__item.product-tags__item--sale.text Скидка 50%
							.product__pricebox 
								span.product__price 9 000 #[span.product__price--symbol.text ₽]
								button.product-payinstall
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M6.5 14.75V5C6.5 4.80109 6.42098 4.61032 6.28033 4.46967C6.13968 4.32902 5.94891 4.25 5.75 4.25H2C1.80109 4.25 1.61032 4.32902 1.46967 4.46967C1.32902 4.61032 1.25 4.80109 1.25 5V14C1.25 14.1989 1.32902 14.3897 1.46967 14.5303C1.61032 14.671 1.80109 14.75 2 14.75H11C11.1989 14.75 11.3897 14.671 11.5303 14.5303C11.671 14.3897 11.75 14.1989 11.75 14V10.25C11.75 10.0511 11.671 9.86032 11.5303 9.71967C11.3897 9.57902 11.1989 9.5 11 9.5H1.25M10.25 1.25H14C14.4142 1.25 14.75 1.58579 14.75 2V5.75C14.75 6.16421 14.4142 6.5 14 6.5H10.25C9.83579 6.5 9.5 6.16421 9.5 5.75V2C9.5 1.58579 9.83579 1.25 10.25 1.25Z" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
									span.product-payinstall__text.text Долями 3 платежа по 3000 ₽
									<svg width="6" height="8" viewBox="0 0 6 8" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0.476562 8L5.47656 4L0.476562 4.76837e-07L0.476562 8Z" fill="#222222"/>
									</svg>
							p.product__infotext.text Представляем Вашему вниманию наш комплект “Дымчатое&nbsp;Очарование”, состоящий из подвески и серег, созданных из натурального Раухтопаза
							h6.product__sizesname.text Размер, см
							.product__sizesbox 
								.product__sizes 
									each item, i in ['70','75','76','77','78','79','80','81','82','83','84','85','86','87','88','89']
										a.product__size.text(class=`${i===0 ? 'is-active' : ''}` href="#")= item
								button.product__sizesmore.text Таблица размеров
									<svg width="6" height="8" viewBox="0 0 6 8" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0.523438 8L5.52344 4L0.523437 4.76837e-07L0.523438 8Z" fill="#222222"/>
									</svg>
							p.product__balance.text Осталось 5 шт
							.product-actions 
								.product-actions__buttons 
									.product-actions__counts
										button.product-actions__count.product__decrement 
											<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M6 9H12M9 16.5C13.1422 16.5 16.5 13.1422 16.5 9C16.5 4.85775 13.1422 1.5 9 1.5C4.85775 1.5 1.5 4.85775 1.5 9C1.5 13.1422 4.85775 16.5 9 16.5Z" stroke="#222222" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
										input.product-actions__count.product__value(type="text" value="1" readonly)
										button.product-actions__count.product__increment 
											<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M6 9H9M9 9H12M9 9V6M9 9V12M9 16.5C13.1422 16.5 16.5 13.1422 16.5 9C16.5 4.85775 13.1422 1.5 9 1.5C4.85775 1.5 1.5 4.85775 1.5 9C1.5 13.1422 4.85775 16.5 9 16.5Z" stroke="#222222" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
											</svg>
									button.product-actions__incart.button.button-black 
										span.text В корзину
									button.product-actions__oneclick.button.button-white 
										span.text Купить в 1 клик
								button.product-actions__infavor.infavor 
									<svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M16.4998 5.6465C16.5024 6.80056 16.0578 7.91075 15.2593 8.744C13.4286 10.6422 11.6526 12.6215 9.75431 14.45C9.31856 14.8625 8.62781 14.8475 8.21156 14.4163L2.74031 8.74475C1.08656 7.03025 1.08656 4.26275 2.74031 2.549C3.13117 2.13875 3.60127 1.81214 4.1221 1.58898C4.64294 1.36582 5.20368 1.25075 5.77031 1.25075C6.33695 1.25075 6.89768 1.36582 7.41852 1.58898C7.93936 1.81214 8.40946 2.13875 8.80031 2.549L8.99981 2.7545L9.19856 2.549C9.59021 2.13972 10.0604 1.81371 10.5811 1.5905C11.1017 1.36729 11.6621 1.25148 12.2286 1.25C13.3686 1.25 14.4583 1.718 15.2586 2.549C16.0573 3.38213 16.5022 4.49233 16.4998 5.6465Z" stroke="#222222" stroke-width="1.2" stroke-linejoin="round"/>
									</svg>
							.product-char 
								h6.product-char__title.text Характеристики
								ul.product-char__list 
									each item in ['Камень — Раухтопаз','Дополнительно — Подарочная упаковка','Фурнитура — недрагоценный металл','Вес — 35 гр.']
										li.product-char__item.text= item 
								h6.product-char__title.text Доставка по России бесплатно
								ul.product-char__list
									each item in ['О доставке','Оплата товара','Гарантия и возврат']
										li.product-char__item 
											a.product-char__link.text(href="#")= item 

				.similar-products
					.container 
						h2.section-title.popular-previews__title Похожие украшения
						include ./../sections/_products-popular-slider.pug	

				.reviews-cards
					.container
						h2.section-title.reviews-cards__title Отзывы о нас
						include ./../sections/_reviews-slider.pug
	
		include ./../sections/_footer.pug

		include ./../sections/_scripts.pug