<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Создание личного украшения-талисмана

	body
		include ./../sections/_header.pug
		+breadcrumbs([
			{ title: 'О Светлане Шахрай', url: '' }
		])
		
		.template-creating

			.dark-page__box

				.full-container
					.dark-page__grid.one-col

						.dark-page__aside

							nav.aside-nav
								ul.aside-nav__list
									li.aside-nav__item.active
										a.aside-nav__link(href="#") Создание личного украшения-талисмана
									li.aside-nav__item
										a.aside-nav__link(href="#") О Светлане Шахрай
									li.aside-nav__item
										a.aside-nav__link(href="#") Патент


						.dark-page__main-wrapper

							main.dark-page__main
								picture.dark-page__bg
									source(media="(max-width: 768px)", srcset="img/sozdanie/sozdanie-bg_mob.webp")
									img(src="img/sozdanie/sozdanie-bg.webp", alt="alt")


								.tb-subgrid__main
									.block
										h1.page-title Создание личного украшения-талисмана
										.block-descr
											p Найдем ваш личный камень и создадим украшение, которое поможет в исполнении вашей мечты и целей
											p У каждого камня от природы, как и учеловека, своя энергетика. Мы подбираем подходящие под вашу энергетику камни и в случе, когда энергетика камня и человека совпадают, то камни начинают работать
									.block
										h2 Как мы подбираем камни для амулетов-хранителей
										.block-descr
											ul.list-circle
												li.list-circle__item Индивидуальные данные
												li.list-circle__item Психотип человека
												li.list-circle__item Тарологический расчет
												li.list-circle__item Астрологический аспект
												li.list-circle__item Нумерологический расчет
												li.list-circle__item Происхождение камня и его история


									.block
										h2 Видео о том, как мы подбираем индивидуальные браслеты
										
										.block-descr
											.play-video.preview-video.js-videoParent
												.play-video__box.js-videoPlay
													<video class="preview-videoclip" controls preload="auto" muted="muted" playsinline="playsinline" src="https://vcdn.goldapple.ru/p/mpsi/68597d79d718d92793d98d73/3638353937643739643731386439323739336439386437338ddb27113d6d4ec.mp4"></video>
													button.preview-video__icon
														<svg class="" width="34" height="36" viewBox="0 0 34 36" fill="none" xmlns="http://www.w3.org/2000/svg">
															<path d="M30.015 13.6857C30.8155 14.1114 31.4851 14.7469 31.952 15.5241C32.419 16.3012 32.6656 17.1908 32.6656 18.0974C32.6656 19.0041 32.419 19.8936 31.952 20.6708C31.4851 21.4479 30.8155 22.0834 30.015 22.5091L8.66167 34.1208C5.22333 35.9924 1 33.5591 1 29.7108V6.48575C1 2.63575 5.22333 0.204082 8.66167 2.07242L30.015 13.6857Z" stroke="white" stroke-width="2"/>
														</svg>
													img.preview-video__foto(src=`img/sozdanie/video.webp`, alt="foto")

			section.products-previews.gallery-page__products
				.container 
					h2.section-title.products-previews__title Примеры индивидуальных браслетов
					.sliderbox.sliderbox-mobile
						.slider-arrows.popular-arrows
							button.slider-btn.slider-btnrev.js-prev
								<svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.0799 6.40431L0.635786 6.40431C0.279746 6.40431 -7.63309e-09 6.10256 -7.13606e-09 5.71853C-6.63902e-09 5.33449 0.279746 5.03274 0.635786 5.03274L12.0799 5.03274C12.436 5.03274 12.7157 5.33449 12.7157 5.71853C12.7157 6.10256 12.436 6.40431 12.0799 6.40431Z" fill="black"/>
									<path d="M8.901 11.2048C8.81762 11.2059 8.73494 11.1881 8.65829 11.1527C8.58164 11.1173 8.51272 11.0649 8.45595 10.9991C8.20163 10.7247 8.20163 10.2996 8.45595 10.0252L12.4614 5.70481L8.45595 1.38438C8.20163 1.11007 8.20163 0.684882 8.45595 0.410569C8.71026 0.136256 9.10445 0.136256 9.35876 0.410569L13.8093 5.21105C14.0636 5.48536 14.0636 5.91054 13.8093 6.18486L9.35876 10.9853C9.23161 11.1225 9.0663 11.1911 8.91372 11.1911L8.901 11.2048Z" fill="black"/>
								</svg>
							button.slider-btn.js-next
								<svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.0799 6.40431L0.635786 6.40431C0.279746 6.40431 -7.63309e-09 6.10256 -7.13606e-09 5.71853C-6.63902e-09 5.33449 0.279746 5.03274 0.635786 5.03274L12.0799 5.03274C12.436 5.03274 12.7157 5.33449 12.7157 5.71853C12.7157 6.10256 12.436 6.40431 12.0799 6.40431Z" fill="black"/>
									<path d="M8.901 11.2048C8.81762 11.2059 8.73494 11.1881 8.65829 11.1527C8.58164 11.1173 8.51272 11.0649 8.45595 10.9991C8.20163 10.7247 8.20163 10.2996 8.45595 10.0252L12.4614 5.70481L8.45595 1.38438C8.20163 1.11007 8.20163 0.684882 8.45595 0.410569C8.71026 0.136256 9.10445 0.136256 9.35876 0.410569L13.8093 5.21105C14.0636 5.48536 14.0636 5.91054 13.8093 6.18486L9.35876 10.9853C9.23161 11.1225 9.0663 11.1911 8.91372 11.1911L8.901 11.2048Z" fill="black"/>
								</svg>
						div(class=`products-slider swiper js-sliderPopular`) 
							.swiper-wrapper
								each elem in [1, 2, 3, 4, 5, 6]
									.swiper-slide
										a.preview.preview-big(href="#")
											.preview__fotobox
												img.preview-big__foto(src=`img/product-foto-${elem}.webp`, alt="foto")
												.preview-tags
													span.preview-tags__item.text Агат
													span.preview-tags__item.text Родонит
												button.infavor 
													<svg class="infavor__icon" width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M16.4998 5.0071C16.5024 6.16116 16.0578 7.27134 15.2593 8.1046C13.4286 10.0028 11.6526 11.9821 9.75431 13.8106C9.31856 14.2231 8.62781 14.2081 8.21156 13.7768L2.74031 8.10535C1.08656 6.39085 1.08656 3.62335 2.74031 1.9096C3.13117 1.49934 3.60127 1.17274 4.1221 0.949576C4.64294 0.726414 5.20368 0.611346 5.77031 0.611346C6.33695 0.611346 6.89768 0.726414 7.41852 0.949576C7.93936 1.17274 8.40946 1.49934 8.80031 1.9096L8.99981 2.1151L9.19856 1.9096C9.59021 1.50032 10.0604 1.17431 10.5811 0.951098C11.1017 0.727889 11.6621 0.612076 12.2286 0.610596C13.3686 0.610596 14.4583 1.0786 15.2586 1.9096C16.0573 2.74273 16.5022 3.85293 16.4998 5.0071Z" stroke="#E9711F" stroke-width="1.2" stroke-linejoin="round"/>
													</svg>
											h6.preview__name.text Браслет женский «Внутренний свет»
													</svg>
						.slider-navbox
							div(class=`slider-nav js-catalogNav`)


			.container.text-center.mb70
				a.button.button-black.inline-flex(href="#") 
					span Перейти в каталог готовых товаров
				//- a.btn.dark(href="#") Каталог изделий из камней

			include ./../sections/_create.pug

			include ./../sections/_feedback.pug

		include ./../sections/_footer.pug

		include ./../sections/_scripts.pug