<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Страница Клиентам
	body.to-client

		include ./../sections/_header.pug

		include ./../sections/_breadcrumbs.pug

		.container
			.to-client__box
				h1.page-title Клиентам
				include ./../sections/_clients-info.pug

		include ./../sections/_footer.pug

		include ./../sections/_scripts.pug