<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Site | Templates
	body
		include ./../sections/_header.pug
		.templates
			.container
				h1.forum400 Шрифты
				br
				br
				h2.raleway500 Raleway 500
				br
				p.raleway500 Мы создали более 20 000 браслетов по личному методу Шахрай
				br
				h2.raleway600 Raleway 600
				br
				p.raleway600 Мы создали более 20 000 браслетов по личному методу Шахрай
				br
				h2.raleway700 Raleway 700
				br
				p.raleway700 Мы создали более 20 000 браслетов по личному методу Шахрай
				br
				h2.forum400 Forum 400
				br
				p.forum400 Украшения, которые работают: защищают, привлекают энергию и исполняют мечты
				br
				br
				br
				h2.forum400 Элементы
				br
				br
				.slider-nav 
					span.swiper-pagination-bullet.swiper-pagination-bullet-active
					span.swiper-pagination-bullet
					span.swiper-pagination-bullet
					span.swiper-pagination-bullet
				br
				br
				.slider-nav 
					span.swiper-pagination-bullet
					span.swiper-pagination-bullet
					span.swiper-pagination-bullet
					span.swiper-pagination-bullet.swiper-pagination-bullet-active
					span.swiper-pagination-bullet
					span.swiper-pagination-bullet
					span.swiper-pagination-bullet
				br
				.preview.preview-big
					.preview-big__fotobox
						img.preview-big__foto(src="", alt="foto")
						.preview-tags
							span.preview-tags__item Агат
							span.preview-tags__item Родонит
						button.infavor 
							<svg class="infavor__icon" width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M16.4998 5.0071C16.5024 6.16116 16.0578 7.27134 15.2593 8.1046C13.4286 10.0028 11.6526 11.9821 9.75431 13.8106C9.31856 14.2231 8.62781 14.2081 8.21156 13.7768L2.74031 8.10535C1.08656 6.39085 1.08656 3.62335 2.74031 1.9096C3.13117 1.49934 3.60127 1.17274 4.1221 0.949576C4.64294 0.726414 5.20368 0.611346 5.77031 0.611346C6.33695 0.611346 6.89768 0.726414 7.41852 0.949576C7.93936 1.17274 8.40946 1.49934 8.80031 1.9096L8.99981 2.1151L9.19856 1.9096C9.59021 1.50032 10.0604 1.17431 10.5811 0.951098C11.1017 0.727889 11.6621 0.612076 12.2286 0.610596C13.3686 0.610596 14.4583 1.0786 15.2586 1.9096C16.0573 2.74273 16.5022 3.85293 16.4998 5.0071Z" stroke="#E9711F" stroke-width="1.2" stroke-linejoin="round"/>
							</svg>
					h6.preview__name Браслет женский «Внутренний свет»
					.preview-big__pricing 
						span.preview__price 20 000 #[span.preview__price--sign] ₽
						span.preview__planprice Долями 5 000 ₽
						button.preview-cart 
							<svg class="preview-cart__icon" width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1.15625 2.6731H15.4063L13.1563 10.1731H3.40625L1.15625 2.6731ZM1.15625 2.6731L0.59375 0.798096M7.15625 12.7981C7.15625 13.0965 7.03772 13.3826 6.82675 13.5936C6.61577 13.8046 6.32962 13.9231 6.03125 13.9231C5.73288 13.9231 5.44673 13.8046 5.23575 13.5936C5.02478 13.3826 4.90625 13.0965 4.90625 12.7981M11.6563 12.7981C11.6563 13.0965 11.5377 13.3826 11.3267 13.5936C11.1158 13.8046 10.8296 13.9231 10.5313 13.9231C10.2329 13.9231 9.94673 13.8046 9.73575 13.5936C9.52478 13.3826 9.40625 13.0965 9.40625 12.7981" stroke="#222222" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>



			
		include ./../sections/_footer.pug
		
		include ./../sections/_scripts.pug