@charset "UTF-8";
/*
0. Шрифты
1. Общие стили для всего сайта
2. Вспомогательные классы
3. Стили для одинаковых элементов
4. Шапка
5. Подвал
6. Стили которые не повторяются на других страницах

Мобильная версия начинается с 992пх

*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
:root {
  --gr-a: #f8f8f8;
  --gr-b: #ededed;
  --bl: #000;
  --wh: #fff;
  --gr-d: #333;
  --gr-c: #8f8f8f;
  --gr-e: #222;
  --op100: rgba(255, 255, 255, 0);
  --br-a: #b45c20;
  --bl-br: #373330;
  --op50: rgba(255, 255, 255, 0.5);
  --op10: rgba(255, 255, 255, 0.1);
  --br-b: #e9711f;
  --gr-e-80: rgba(34, 34, 34, 0.8);
  --font-family: "Raleway",
  	sans-serif;
  --second-family: "Inter",
  	sans-serif;
  --third-family: "Onest",
  	sans-serif;
  --font3: "Arial",
  	sans-serif;
  --font4: "Segoe UI",
  	sans-serif;
  --font5: "Forum",
  	sans-serif;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
ШРИФТЫ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	ОБЩИЕ СТИЛИ ДЛЯ ВСЕГО САЙТА 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
*,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: normal;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  overflow-x: hidden;
}
html.fixed {
  overflow: hidden;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  color: #222;
  background: #F8F8F8;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: initial;
}
a:hover {
  text-decoration: none;
}

button {
  display: block;
  font-family: "Raleway", sans-serif;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}
button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

input,
textarea {
  outline: none;
}
input:focus-visible,
textarea:focus-visible {
  outline: none;
}
input:disabled,
textarea:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.mobile {
  display: none;
}
@media screen and (max-width: 992px) {
  .mobile {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  .desktop {
    display: none;
  }
}

* ::-webkit-scrollbar {
  width: 6px;
  /* ширина всей полосы прокрутки */
}

* ::-webkit-scrollbar-track {
  background: #F8F8F8;
  /* цвет зоны отслеживания */
  border-radius: 20px;
}

* ::-webkit-scrollbar-thumb {
  background-color: #E9711F;
  /* цвет бегунка */
  border-radius: 20px;
  /* округлось бегунка */
  border: 3px solid transparent;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//END ОБЩИЕ СТИЛИ ДЛЯ ВСЕГО САЙТА 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ (нужны там где нет нужды в осмысленном класснейминге)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//END	ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	СТИЛИ ДЛЯ ОДИНАКОВЫХ ЭЛЕМЕНТОВ
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.swiper-slide {
  display: flex;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}

.templates {
  padding: 100px 0;
}
.templates .raleway500 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
.templates .raleway600 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.templates .raleway700 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.templates .forum400 {
  font-family: "Forum", serif;
}

.text {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  color: #222;
}

.button {
  width: 100%;
  height: 38px;
  border-radius: 8px;
  transition: background 0.3s;
}
.button span {
  transition: color 0.3s;
}
.button-white {
  background: #FFF;
}
.button-white:hover {
  background: #222;
}
.button-white:hover span {
  color: #FFF;
}
.button-black {
  background: #222;
}
.button-black span {
  color: #FFF;
}
@media (max-width: 768px) {
  .button-mobilecart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 28px;
    margin-left: auto;
    background: #EDEDED;
    border-radius: 8px;
  }
}
@media (max-width: 768px) {
  .button-mobilecart span {
    display: none;
  }
}
.button-mobilecart__icon {
  display: none;
}
@media (max-width: 768px) {
  .button-mobilecart__icon {
    display: flex;
  }
}

.products-slider {
  margin: 0 0 38px 0;
}
@media (max-width: 768px) {
  .products-slider {
    max-width: 300px;
    width: 100%;
    overflow: visible;
  }
}

.video-slider {
  margin: 0 0 36px 0;
}
@media (max-width: 768px) {
  .video-slider {
    max-width: 260px;
    width: 100%;
    overflow: visible;
  }
}

.sliderbox {
  position: relative;
  overflow: hidden;
}

.slider-arrows {
  position: absolute;
  z-index: 2;
  top: 12.3vw;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .products-arrows {
    display: none;
  }
}

.slider-navbox {
  display: flex;
  justify-content: center;
}

.slider-nav {
  position: static;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  width: auto !important;
  margin: 0 auto;
  padding: 6px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}
.slider-nav .swiper-pagination-bullet {
  margin: 0 !important;
  border: 1px solid rgba(0, 0, 0, 0.6);
  box-sizing: content-box;
  background: #FFF;
  transition: all 0.3s;
  cursor: pointer;
}
.slider-nav .swiper-pagination-bullet-active {
  border-color: transparent;
  background: #E9711F;
  box-sizing: border-box;
}

.previewslider-nav {
  position: absolute;
  left: 50% !important;
  transform: translateX(-50%);
  z-index: 1;
}
@media (max-width: 565px) {
  .previewslider-nav {
    background: transparent;
  }
}

.slider-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}

.slider-btnrev {
  transform: rotate(180deg);
}

.preview {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.preview__fotobox {
  position: relative;
  display: flex;
  margin-bottom: 18px;
  border-radius: 10px;
  overflow: hidden;
}
.preview-big__foto {
  width: 100%;
  height: 23.18vw;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1460px) {
  .preview-big__foto {
    height: 22.61vw;
  }
}
@media (max-width: 992px) {
  .preview-big__foto {
    height: 29.31vw;
  }
}
@media (max-width: 768px) {
  .preview-big__foto {
    height: 300px;
  }
}
.preview-big__pricing {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 24px;
}
.preview-small__foto {
  width: 100%;
  height: 18.6vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.preview-small__pricing {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.preview-tags {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 50px;
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
}
.preview-tags__item {
  display: flex;
  padding: 2.5px 10px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}
.preview__name {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .preview__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.preview__price {
  font-size: 22px;
  font-weight: 700;
  line-height: 110%;
}
.preview__price--sign {
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
}
.preview-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 28px;
  margin-left: auto;
  background: #EDEDED;
  border-radius: 8px;
}
.preview-video {
  width: 100%;
}
.preview-video__fotobox {
  position: relative;
  display: flex;
  margin-bottom: 18px;
  border-radius: 10px;
  overflow: hidden;
}
.preview-video__foto {
  width: 100%;
  height: 32.5vw;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1460px) {
  .preview-video__foto {
    height: 31.65vw;
  }
}
@media (max-width: 992px) {
  .preview-video__foto {
    height: 38.65vw;
  }
}
@media (max-width: 768px) {
  .preview-video__foto {
    height: 462px;
  }
}
.preview-video__icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.infavor {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media (max-width: 992px) {
  .grid-4 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 565px) {
  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//END СТИЛИ ДЛЯ ОДИНАКОВЫХ ЭЛЕМЕНТОВ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
	HEADER 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//END HEADER  
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	FOOTER
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//END FOOTER
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	yura - Стили для верстки Юры
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.page-title {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  color: var(--gr-e);
}

/* ========================
.breadcrumbs
======================== */
.breadcrumbs {
  position: relative;
}

.breadcrumbs__list {
  display: inline;
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__home {
  display: block;
  height: 18px;
  width: auto;
}

/* ========================
END .breadcrumbs
======================== */
/* ========================
.to-client
======================== */
.to-client {
  font-family: var(--font-family);
  background-color: var(--gr-a);
}

.to-client__box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .to-client__box {
    gap: 20px;
  }
}

.clients-info {
  padding: 0px 0px 80px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .clients-info {
    padding: 40px 0;
    grid-template-columns: repeat(2, 1fr);
  }
}

.clients-info__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  padding: 40px 20px;
  min-height: 167px;
  text-align: center;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.04);
  background: var(--wh);
}
@media screen and (max-width: 768px) {
  .clients-info__item {
    padding: 20px;
    min-height: 127px;
  }
  .clients-info__item:last-child {
    grid-column: span 2;
  }
}

.clients-info__icon {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: auto;
  transition: all 0.25s ease-out;
}
.clients-info__item:hover .clients-info__icon {
  transform: skew(-6deg, 0);
  filter: drop-shadow(1px 1px 0px var(--br-b));
}

.clients-info__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: var(--gr-e);
  transition: color 0.25s, transform 0.25s;
}
.clients-info__item:hover .clients-info__title {
  color: var(--br-b);
}

/* ========================
END .to-client
======================== */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//END yura
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
	СТИЛИ КОТОРЫЕ НЕ ПОВТОРЯЮТСЯ НА ДРУГИХ СТРАНИЦАХ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/