.agree 
  label.checkbox
    input.checkbox__input(type="checkbox")
    span.checkbox-area
      img.checkbox-area__icon(src="img/svg/check.svg", alt="checkbox-icon")
    span.agree__text.text Согласен с #[a(href="") политикой конфиденциальности] и #[a(href="") публичной офертой]