.agree 
  label.checkbox
    input.checkbox__input(type="checkbox")
    span.checkbox-area
      img.checkbox-area__icon(src="img/svg/check.svg", alt="checkbox-icon")
    span.agree__text.text Я даю согласие на обработку моих персональных данных в соответствии с #[a(href="#") Политикой конфиденциальности] и #[a(href="#") Пользовательским соглашением]