/*
0. Шрифты
1. Общие стили для всего сайта
2. Вспомогательные классы
3. Стили для одинаковых элементов
4. Шапка
5. Подвал
6. Стили которые не повторяются на других страницах

Мобильная версия начинается с 992пх

*/

@import 'blocks/vars';

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
ШРИФТЫ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@import 'blocks/fonts';

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	ОБЩИЕ СТИЛИ ДЛЯ ВСЕГО САЙТА 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
*,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: normal;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
	overflow-x: hidden;

	&.fixed {
		overflow: hidden;
	}
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-top: 105px;
	font-family: $raleway;
	font-size: 16px;
	font-weight: 600;
	line-height: 120%;
	color: $dark;
	background: $white-grey;
	@media(max-width: 992px){
		padding-top: 50px;
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: initial;

	&:hover {
		text-decoration: none;
	}
}

button {
	display: block;
	font-family: $raleway;
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;

	&:focus {
		outline: none;
	}

	&:disabled {
		pointer-events: none;
		opacity: 0.5;
	}
}

input,
textarea {
	outline: none;

	&:focus-visible {
		outline: none;
	}

	&:disabled {
		pointer-events: none;
		opacity: 0.5;
	}
}

.mobile {
	display: none;

	@media screen and (max-width: 992px) {
		display: block;
	}
}

.desktop {
	@media screen and (max-width: 992px) {
		display: none;
	}
}

// ~~~~~~~~~~~~~~~~~~~ Стилизация скроллбара
* ::-webkit-scrollbar {
	width: 6px;
	/* ширина всей полосы прокрутки */
}

* ::-webkit-scrollbar-track {
	background: $white-grey;
	/* цвет зоны отслеживания */
	border-radius: 20px;
}

* ::-webkit-scrollbar-thumb {
	background-color: $orange;
	/* цвет бегунка */
	border-radius: 20px;
	/* округлось бегунка */
	border: 3px solid transparent;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//END ОБЩИЕ СТИЛИ ДЛЯ ВСЕГО САЙТА 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ (нужны там где нет нужды в осмысленном класснейминге)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/




/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//END	ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	СТИЛИ ДЛЯ ОДИНАКОВЫХ ЭЛЕМЕНТОВ
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@import 'blocks/templates';
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//END СТИЛИ ДЛЯ ОДИНАКОВЫХ ЭЛЕМЕНТОВ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
	HEADER 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@import 'blocks/header';
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//END HEADER  
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	FOOTER
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@import 'blocks/footer';
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//END FOOTER
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	yura - Стили для верстки Юры
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@import 'blocks/yura';
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	//END yura
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
	СТИЛИ КОТОРЫЕ НЕ ПОВТОРЯЮТСЯ НА ДРУГИХ СТРАНИЦАХ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.present{
	position: relative;
	margin-bottom: 120px;
	@media(max-width: 768px){
		margin-bottom: 80px;
	}
	.swiper-slide{
		overflow: hidden;
		backface-visibility:hidden;
		  -webkit-backface-visibility:hidden;
	}
  &-slide{
		position: relative;
    width: 100%;
		height: 48vw;
		@media(max-width: 1460px){
			height: 700px;
		}
		@media(max-width: 565px){
			height: 812px;
		}
    &__fotobox{
			position: absolute;
			top: 0;
			left: 0;
      width: 100%;
			height: 100%;
      background-position:center;
		  background-size:cover;
      @media(max-width: 565px){
        height: 812px;
      }
      &--desktop{
        @media(max-width: 565px){
          display: none;
        }
      }
      &--mobile{
        display: none;
        @media(max-width: 565px){
          display: block;
        }
      }
    }
  }
	&-nav{
		position: absolute;
		z-index: 1;
		bottom: 40px !important;
		left: 40px !important;
		@media(max-width: 565px){
			bottom: 104px !important;
			left: 50% !important;
			transform: translateX(-50%);
			background: transparent;
			backdrop-filter: none;
		}
	}
	&__infobox{
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		max-width: 1270px;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 146px;
		padding-bottom: 90px;
		@media(max-width: 565px){
			padding-bottom: 144px;
		}
	}
	&__titlebox{
		display: flex;
		justify-content: space-between;
		@media(max-width: 565px){
			margin-top: auto;
		}
	}
	&__title{
		max-width: 530px;
		width: 100%;
		font-family: $forum;
		font-size: 41px;
		line-height: 86%;
		font-weight: 400;
		color: $white;
		letter-spacing: -0.8px;
		@media(max-width: 565px){
			font-size: 34px;
		}
	}
	&__tagtitle{
		max-width: 242px;
		width: 100%;
		color: $white;
		transform: translateY(13px);
		@media(max-width: 992px){
			display: none;
		}
	}
	&__infofact{
		display: flex;
		justify-content: end;
		gap: 37px;
		margin-top: auto;
		@media(max-width: 565px){
			gap: 20px;
			margin-top: 20px;
		}
	}
	&__info{
		max-width: 242px;
		width: 100%;
		color: $white;
		letter-spacing: -0.2px;
	}
}
.to-down{
	position: absolute;
	z-index: 1;
	bottom: 26px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(40px);
	@media(max-width: 565px){
		display: none;
	}
}
.present-category{
	margin-bottom: 160px;
	@media(max-width: 768px){
		margin-bottom: 120px;
	}
	&__box{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 40px;
		@media(max-width: 992px){
			gap: 10px;
		}
		@media(max-width: 565px){
			grid-template-columns: repeat(1, 1fr);
		}
	}
	&__foto{
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: transform 0.3s;
	}
	&__item{
		position: relative;
		width: 100%;
		height: 750px;
		border-radius: 70px;
		overflow: hidden;
		&:hover{
			.present-category__foto{
				transform: scale(1.1);
			}
		}
		@media(max-width: 1920px){
			height: 39.07vw;
		}
		@media(max-width: 1460px){
			height: 37.87vw;
		}
		@media(max-width: 992px){
			border-radius: 40px;
		}
		@media(max-width: 565px){
			height: 300px;
		}
	}
	&__name{
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		display: flex;
		padding: 6px 12px;
		font-size: 22px;
		line-height: 110%;
		font-weight: 700;
		white-space: nowrap;
		border-radius: 30px;
		background: rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(40px);
		transform: translate(-50%, -50%);
	}
}
.products-previews{
	margin-bottom: 80px;
	&__title{
		margin-bottom: 26px;
	}
}
.popular-previews{
	margin-bottom: 80px;
	&__title{
		margin-bottom: 36px;
	}
}
.blog-previews{
	margin-bottom: 80px;
	@media(max-width: 768px){
		margin-bottom: 50px;
	}
	&__title{
		margin-bottom: 26px;
	}
}
.stones-categories__title{
	margin-bottom: 120px;
	&__title{
		margin-bottom: 36px;
	}
}
.decoration-task{
	&__head{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 14px;
		margin-bottom: 20px;
	}
	&__text{
		font-size: 14px;
		font-weight: 500;
		line-height: 110%;
	}
	&__buttons{
		display: flex;
		flex-wrap: wrap;
		gap: 4px;
	}
	&__button{
		display: block;
		padding: 10px;
		background: $white;
		border-radius: 8px;
		&.is-active{
			background: $light-dark;
			color: $white;
		}
	}
}
.stones-categories{
	margin-bottom: 120px;
	&__title{
		margin-bottom: 36px;
	}
	&__box{
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 20px;
		@media(max-width: 1460px){
			grid-template-columns: repeat(5, 1fr);
		}
		@media(max-width: 992px){
			grid-template-columns: repeat(4, 1fr);
		}
		@media(max-width: 768px){
			grid-template-columns: repeat(2, 1fr);
		}
		@media(max-width: 370px){
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
.stone-category{
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
	justify-content: center;
	border-radius: 40px;
	overflow: hidden;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: transform 0.3s;
	}
	&:hover{
		img{
			transform: scale(1.1);
		}
	}
	&.big{
		height: 445px;
		grid-column: span 3;
		@media(max-width: 1460px){
			grid-column: span 1;
			height: 17.8vw;
		}
		@media(max-width: 992px){
			height: 21.5vw;
		}
		@media(max-width: 768px){
			height: 173px;
		}
	}
	&.small{
		grid-column: span 2;
		height: 290px;
		@media(max-width: 1460px){
			grid-column: span 1;
			height: 17.8vw;
		}
		@media(max-width: 992px){
			height: 21.5vw;
		}
		@media(max-width: 768px){
			height: 173px;
		}
	}
	&__name{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		padding: 6px 12px;
		white-space: nowrap;
		text-align: center;
		border-radius: 30px;
		background: rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(40px);
		&--black{
		}
		&--white{
			color: $white;
		}
		&--info{
			position: static;
			padding: 0;
			background: transparent;
			backdrop-filter: none;
			transform: none;
		}
	}
}
.stone-learn{
	border: 1px solid rgba(143, 143, 143, 0.3);
}
.stone-more{
	background: $light-dark;
}
.sidebar{
	@media(max-width: 768px){
		display: none;
	}
	&__pathname{
		margin-bottom: 16px;
	}
	&-menu{
		display: flex;
		flex-direction: column;
		gap: 5px;
		&__checking{
			padding-left: 12px;
		}
	}
	&__path{
		margin-bottom: 32px;
		&--last{
			.sidebar-menu{
				&__item{
					&:last-child,
					&:nth-last-child(2){
						margin-top: 33px;
					}
				}
			}
		}
	}
}
.catalog{
	display: flex;
	flex-direction: column;
	&__titlebox{
		display: flex;
		align-items: end;
		gap: 10px;
		margin-bottom: 15px ;
	}
	&__info{
		display: flex;
		flex-direction: column;
		gap: 15px;
		max-width: 1170px;
		width: 100%;
		@media(max-width: 1460px){
			max-width: 710px;
		}
		&--mb{
			margin-bottom: 40px;
		}
		&--nomobile{
			@media(max-width: 768px){
				display: none;
			}
		}
	}
	&-decoration{
		&__box{
			display: grid;
			grid-template-columns: 330px 1fr;
			gap: 20px;
			padding-bottom: 80px;
			@media(max-width: 1300px){
				grid-template-columns: 230px 1fr;
			}
			@media(max-width: 768px){
				grid-template-columns: 1fr;
				padding-bottom: 40px;
			}
		}
	}
	&__box{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 68px 20px;
		margin-bottom: 58px;
		@media(max-width: 1460px){
			gap: 48px 10px;
		}
		@media(max-width: 992px){
			grid-template-columns: repeat(3, 1fr);
		}
		@media(max-width: 880px){
			grid-template-columns: repeat(2, 1fr);
		}
		@media(max-width: 768px){
			grid-template-columns: repeat(3, 1fr);
			gap: 38px 10px;
		}
		@media(max-width: 565px){
			grid-template-columns: repeat(2, 1fr);
		}
	}
	&-more{
		max-width: 167px;
		margin: 0 auto 90px auto;
		@media(max-width: 768px){
			margin: 0 auto 40px auto;
		}
		@media(max-width: 565px){
			max-width: 100%;
		}
	}
}
.tags{
	display: flex;
	margin-bottom: 30px;
	padding-bottom: 15px;
	border-bottom: 1px solid $light-grey;
	@media(max-width: 768px){
		order: -1;
		margin-bottom: 25px;
		padding-bottom: 0;
		border-bottom: none;
	}
	&__list{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 4px;
		@media(max-width: 768px){
			padding-top: 15px;
		}
	}
	&-morebtn{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 30px;
		height: 30px;
		transform: translateY(6px);
		&__text{
			display: none;
			@media(max-width: 768px){
				display: flex;
			}
		}
		svg{
			transition: all .3s;
		}
		@media(max-width: 768px){
			display: flex;
			justify-content: space-between;
			width: 100%;
			height: 40px;
			padding: 0 10px;
			background: $white;
			border-radius: 6px;
			transform: none;
		}

	}
	&__listbox{
		display: flex;
		max-height: 40px;
		overflow: hidden;
		transition: max-height 0.3s;
		@media(max-width: 768px){
			flex-direction: column-reverse;
			justify-content: start;
		}
		&.is-active{
			max-height: 350px;
			.tags-morebtn{
				svg{
					transform: rotate(180deg);
				}
			}
		}		
	}
}
.tag{
	display: flex;
	padding: 10px 11px;
	background: $white;
	border-radius: 8px;
	color: $dark;
	transition: background 0.3s, color 0.3s;
	&:hover{
		color: $white;
		background: $light-dark;
	}
	&.is-active{
		color: $white;
		background: $light-dark;
	}
}
.filters{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 4px;
	margin-bottom: 30px;
	&-selected{
		display: flex;
		align-items: center;
		gap: 8px;
		margin-left: 10px;
		margin-right: 23px;
		&__countbox{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 25px;
			height: 25px;
			border-radius: 6px;
			border: 1px solid #DFDFDF;
		}
		&__count{
			transform: translate(-1px, -1px);
		}
	}
}
.filter{
	position: relative;
	&__btn{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 11px;
		width: 100%;
		padding: 5px 10px;
		background: $white;
		border-radius: 6px;
		svg{
			transition: transform 0.3s;
		}
	}
	&__body{
		position: absolute;
		z-index: 2;
		left: 0;
		top: 32px;
		width: 100%;
		padding: 10px;
		border-radius: 6px;
		background: $white;
		box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
		transform: translateY(30px);
		opacity: 0;
		pointer-events: none;
		transition: transform 0.3s, opacity 0.3s;
	}
	&__parameter{
		font-size: 14px;
	}
	&__parameters{
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
	&-sort{

	}
	&-par{
		width: 180px;
	}
	&-stone{
		width: 180px;
	}
	&-price{
		width: 245px;
	}
	&.is-active{
		.filter__body{
			opacity: 1;
			transform: translateY(0);
			pointer-events: all;
		}
		.filter__btn{
			svg{
				transform: rotate(180deg);
			}
		}
	}
	&__fixbtn{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 38px;
		margin-top: 30px;
		border: 1px solid $light-grey;
		border-radius: 8px;
		background: $white;
		transition: background 0.3s, color 0.3s;
		@media(hover: hover){
			&:hover{
				color: $white;
				background: $dark;
			}
		}
	}
	&-mobilehidden{
		@media(max-width: 768px){
			display: none;
		}
	}
	&-mobilevisible{
		display: none;
		@media(max-width: 768px){
			display: flex;
		}
	}
}
.range-price {
  position: relative;
  width: 100%;
	&__thumbs{
		position: relative;
		width: 100%;
		height: 16px;
	}
	&__inputs{
		display: flex;
		align-items: center;
		gap: 8px;
		margin-bottom: 15px;
	}
	&__input{
		width: 100%;
		height: 46px;
		padding: 0 8px;
		font-family: $raleway;
		font-size: 16px;
		font-weight: 600;
		color: $middle-grey;
		border: 1px solid $light-grey;
		border-radius: 8px;
	}
}
.range {
	position: absolute;
	left: 0;
	top: 13px;
	width: 100%;
	appearance: none;
	height: 5px;
	background: transparent;
	pointer-events: none;
	z-index: 2;
	&.min {
		z-index: 3;
	}
	&.max {
		z-index: 2;
	}
	&::-webkit-slider-thumb {
		appearance: none;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background: $dark;
		cursor: pointer;
		pointer-events: auto;
	}
	&-trackbox {
		position: absolute;
		z-index: 1;
		left: 0;
		right: 0;
		bottom: 0;
		height: 2px;
		background: $light-grey;
	}
	&-track{
		position: absolute;
		z-index: 2;
		right: 0;
		bottom: 0;
		height: 2px;
		background: $dark;
	}
	&-values {
		font-size: 14px;
		color: #333;
	}
}
.mobile-filters{
	position: fixed;
	z-index: 12;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	padding: 30px 20px 20px;
	background: $white;
	overflow: auto;
	transition: left 0.3s;
	&.is-active{
		left: 0;
	}
	&__close{
		position: absolute;
		top: 10px;
		right: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
	}
	&__title{
		margin-bottom: 20px;
	}
	&__items{
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
}
.mobile-filter{
	padding: 2.5px 10px;
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.04);
	border-radius: 6px;
	&__toggle{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	&__body{
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s;
	}
	&__bodybox{
		padding-top: 13px;
		&--pb{
			padding-bottom: 13px;
		}
	}
	&__params{
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	&--nooffset{
		box-shadow: none;
	}
	&.is-active{
		box-shadow: 0px -10px 30px 0px rgba(0, 0, 0, 0.04);
		.mobile-filter{
			&__body{
				max-height: 300px;
			}
			&__toggle{
				svg{
					transform: rotate(180deg);
				}
			}
		}

	}
}
.filters-parameters{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px 10px;
	margin-bottom: 40px;
	@media(max-width: 992px){
		grid-template-columns: repeat(3, 1fr);
	}
	@media(max-width: 565px){
		grid-template-columns: repeat(1, 1fr);
		gap: 10px;
	}
}
.filters-parameter{
	&__title{
		margin-bottom: 10px;
	}
	&__list{
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 10px;
	}
}
.categories{
	padding-bottom: 80px;
	&__title{
		margin-bottom: 37px;
	}
	&__box{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
		margin-bottom: 20px;
		@media(max-width: 1460px){
			grid-template-columns: repeat(2, 1fr);
		}
		@media(max-width: 565px){
			gap: 10px;
			margin-bottom: 40px;
		}
	}
	&-preview{
		position: relative;
		width: 100%;
		height: 456px;
		border-radius: 40px;
		overflow: hidden;
		@media(max-width: 1920px){
			height: 23.7vw;
		}
		@media(max-width: 1460px){
			height: 31.3vw;
		}
		@media(max-width: 565px){
			height: 173px;
		}
		&__foto{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&__name{
			@extend .present-category__name;

			@media(max-width: 768px){
				font-family: $raleway;
				font-size: 16px;
				font-weight: 600;
				line-height: 120%;
				color: $dark;
				letter-spacing: -0.7px;
			}
		}
	}
	&__info{
		display: flex;
		flex-direction: column;
		gap: 15px;
		max-width: 1060px;
		width: 100%;
	}
}
.catalog-stones{
	&__title{
		margin-bottom: 27px;
	}
	&__box{
		@extend .categories__box;
	}
}
.alphabet{
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	margin-bottom: 30px;
	&__item{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
		text-transform: uppercase;
		border-radius: 8px;
		background: $white;
		transition: background 0.3s, color 0.3s;
		&:hover,
		&.is-active{
			background: $dark;
			color: $white;
		}
	}
}
.slider-products{
	.swiper-wrapper{
		flex-direction: column;
		@media(max-width: 565px){
			flex-direction: row;
		}
	}
}
.product{
	padding-bottom: 40px;
	@media(max-width: 565px){
		padding: 0 10px;
	}
	&__foto{
		width: 100%;
		@media(max-width: 565px){
			border-radius: 10px;
		}
		@media(max-width: 375px){
			height: 355px;
			object-fit: cover;
			border-radius: 10px;
		}
	}
	&__box{
		display: grid;
		grid-template-columns: 1fr 560px;
		margin-bottom: 120px;
		@media(max-width: 992px){
			grid-template-columns: 1fr 360px;
		}
		@media(max-width: 768px){
			margin-bottom: 50px;
		}
		@media(max-width: 565px){
			grid-template-columns: 1fr;
			gap: 16px;
		}
	}
	&__info{
		padding: 0 40px;
		@media(max-width: 565px){
			padding: 0;
		}
	}
	&__infobox{
	}
	&__title{
		margin-bottom: 10px;
		font-size: 22px;
		font-weight: 700;
		line-height: 110%;
	}
	&-tags{
		position: static;
		margin-bottom: 16px;
		&__item{
			background: $light-grey;
			&--sale{
				background: $orange;
				color: $white;
			}
		}
	}
	&__categories{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 2px;
	}
	&__pricebox{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 22px;
		margin-bottom: 16px;
	}
	&__price{
		font-size: 22px;
		font-weight: 700;
		line-height: 110%;
	}
	&-payinstall{
		display: flex;
		align-items: center;
		gap: 8px;
		padding: 10px 12px;
		background: $white;
		border-radius: 6px;
	}
	&__infotext{
		margin-bottom: 30px;
		@media(max-width: 565px){
			max-width: 303px;
			width: 100%;
		}
	}
	&__sizesname{
		margin-bottom: 15px;
	}
	&__sizesbox{
		display: flex;
		flex-wrap: wrap;
		gap: 8px 30px;
		margin-bottom: 20px;
	}
	&__sizes{
		display: flex;
		flex-wrap: wrap;
		gap: 2px;
	}
	&__size{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		border-radius: 8px;
		background: $white;
		&.is-active{
			border: 2px solid $dark;
		}
	}
	&__sizesmore{
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 12px;
		width: 180px;
		height: 32px;
		border-radius: 6px;
		background: $white;
	}
	&__balance{
		margin-bottom: 20px;
		color: $orange;
	}
	&-actions{
		display: flex;
		margin-bottom: 30px;
		&__buttons{
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
			max-width: 428px;
			width: 100%;
		}
		&__counts{
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 4px;
			width: 164px;
		}
		&__count{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 38px;
			font-family: $raleway;
			font-size: 16px;
			font-weight: 600;
			line-height: 120%;
			color: $dark;
			letter-spacing: -0.7px;
			color: $dark;
			text-align: center;
			background: $white;
			border-radius: 6px;
			border: none;
		}
		&__incart{
			flex: 1;
			width: auto;
		}
		&__infavor{
			position: static;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 52px;
			height: 38px;
			@media(max-width: 565px){
				display: none;
			}
		}
	}
	&-char{
		&__title{
			margin-bottom: 18px;
		}
		&__list{
			display: flex;
			flex-direction: column;
			gap: 6px;
		}
		&__link{
			text-decoration: underline;
		}
	}
}
.similar-products{
	margin-bottom: 80px;
	@media(max-width: 768px){
		margin-bottom: 60px;
	}
}
.reviews-cards{
	&__title{
		margin-bottom: 36px;
	}
}
